public/contact.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="伯朗咖啡"/><meta name="Copyright" content="© 2022"/><meta property="og:title" content="伯朗咖啡"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="伯朗咖啡"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><meta name="format-detection" content="telephone=no"/><title>伯朗咖啡</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><link rel="stylesheet" href="css/aos.css"/><script src="js/aos.js"></script><script src="js/gsap.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/aos.css"/><link rel="stylesheet" href="css/sty.css"/><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/><script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script></head><body><div class="mask" id="mask"></div><div class="nav-area-bg" id="navAreaBg"></div><div class="nav-area page" id="navArea"><nav><a class="logo" href="index.html"><h1>伯朗咖啡</h1></a><div class="nav-btn-box"><div class="tit hover" id="navTit1"><span class="zh">探索伯朗</span><span class="en">About</span></div><div class="tit hover" id="navTit2"><span class="zh">懂你的咖啡</span><span class="en">Our Coffee</span></div><div class="tit hover" id="navTit3"><span class="zh">咖啡生活</span><span class="en">Life Style</span></div><div class="tit hover" id="navTit4"><span class="zh">最新消息</span><span class="en">Latest News</span></div><a class="tit" href="###"><span class="lan">EN</span></a><div class="nav-mouse-area" id="navMouseArea"><div class="nav-social-box" id="navSocialBox"><a class="nav-social" href="###" target="_blank"><img src="img/ns_fb.svg" alt=""/></a><a class="nav-social" href="###" target="_blank"><img src="img/ns_ig.svg" alt=""/></a><a class="nav-social" href="###" target="_blank"><img src="img/ns_yt.svg" alt=""/></a></div><div class="nav-mouse-box"><div class="title">探索伯朗</div><div class="nav-mouse-link-box" id="navSub1"><div class="nav-sub-btn"><a href="about.html#a1" id="navAbout1">品牌精神</a></div><div class="nav-sub-btn"><a href="about.html#a2" id="navAbout2">不妥協的品質</a></div><div class="nav-sub-btn"><a href="about.html#a3" id="navAbout3">伯朗大事紀</a></div><div class="nav-sub-btn"><a href="about.html#a4" id="navAbout4">永續發展</a></div></div></div><div class="nav-mouse-box"><div class="title">懂你的咖啡</div><div class="nav-mouse-link-box" id="navSub2"><div class="nav-sub-btn"><a href="shop_list.html">即飲系列</a></div><div class="nav-sub-btn"><a href="###">寶特系列</a></div><div class="nav-sub-btn"><a href="###">濾掛系列</a></div><div class="nav-sub-btn"><a href="###">咖啡豆系列</a></div><div class="nav-sub-btn"><a href="###">沖調系列</a></div></div></div><div class="nav-mouse-box"><div class="title">咖啡生活</div><div class="nav-mouse-link-box" id="navSub3"><div class="nav-sub-btn"><a href="lifestyle_list.html">咖啡知識</a></div><div class="nav-sub-btn"><a href="###">啡嚐享趣</a></div></div></div><div class="nav-mouse-box"><div class="title">最新消息</div><div class="nav-mouse-link-box" id="navSub4"><div class="nav-sub-btn"><a href="video_list.html">活動影音專區</a></div><div class="nav-sub-btn"><a href="news_list.html">品牌快訊</a></div></div></div><div class="nav-mouse-box"><div class="title">EN</div></div></div></div><div class="ham-box"><div class="mb-txt">Meun</div><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div></nav></div><!-- 手機版nav--><div class="mb-nav-bg" id="mbNavBg"></div><div class="mb-nav-area"><div class="mb-nav-top"><div class="logo-box"><div class="logo"><img class="ani-item" src="img/mb_nav_logo.svg" alt=""/></div></div><button class="hamburger hamburger--squeeze" type="button" id="hamCloseBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="mb-nav"><div class="mb-nav-cont-top"><div class="mb-nav-cont"><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">探索伯朗</div><div class="arrow-box"> <span>ABOUT</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="about.html#a1" id="mbAbout1">品牌精神</a></div><div class="item"><a href="about.html#a2" id="mbAbout2">不妥協的品質</a></div><div class="item"><a href="about.html#a3" id="mbAbout3">伯朗大事紀</a></div><div class="item"><a href="about.html#a4" id="mbAbout4">永續發展</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">懂你的咖啡</div><div class="arrow-box"> <span>OUR COFFEE</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="shop_list.html">即飲系列</a></div><div class="item"><a href="###">寶特系列</a></div><div class="item"><a href="###">濾掛系列</a></div><div class="item"><a href="###">咖啡豆系列</a></div><div class="item"><a href="###">沖調系列</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">咖啡生活</div><div class="arrow-box"> <span>LIFE STYLE</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="lifestyle_list.html">咖啡知識</a></div><div class="item"><a href="###">啡嚐享趣</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">最新消息</div><div class="arrow-box"> <span>LATEAT NEWS</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="###">活動影音專區</a></div><div class="item"><a href="news_list.html">品牌快訊</a></div></div></div></div><div class="mb-social-area"><div class="mb-social-cover"><div class="mb-social-cont ani-item"><a href="###">EN</a><div class="mb-social-box"><a class="box" href="###" target="_blank"><i class="fab fa-facebook-square"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-instagram"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-youtube"></i></a></div></div></div></div></div><div class="mb-copyright-box"><div class="mb-copyright ani-item">COPYRIGHT © KING CAR GROUP. 2022</div></div></div></div><div class="main-area column-main-area"><div class="main-cont"><section class="column-area"><div class="column-side-box contact-side-box"><div class="m-tit-box"><div class="m-tit inn"><h2>聯絡我們</h2><div class="sup"><span>Contact Us</span></div></div></div><div class="contact-copyright">COPYRIGHT © KING CAR GROUP. 2022<br>ALL RIGHTS RESERVED</div></div><div class="column-info-box"><div class="contact-form-area"><p class="note">請確實填寫您的資料以及保貴意見和問題，將有專員為您服務。</p><form class="contact-form-cont" action="###"><div class="contact-form-box"><label for="name">姓名</label><div class="input-box"><input class="input-sty input-val" type="text" name="name" id="name"/></div></div><div class="contact-form-box"><label for="mail">電子郵件</label><div class="input-box"><input class="input-sty input-val" type="e-mail" name="mail" id="mail" placeholder=""/></div></div><div class="contact-form-box"><label for="phone">聯絡電話</label><div class="input-box"><input class="input-sty input-val" type="text" name="phone" id="phone"/></div></div><div class="contact-form-box"><label for="questType">問題類型</label><div class="input-box"><input class="input-sty input-val" type="text" name="questType" id="questType"/></div></div><div class="contact-form-box label-top"><label for="cont">訊息內容</label><div class="input-box"><textarea class="input-val" name="cont" id="cont" placeholder=""></textarea></div></div><div class="contact-form-box label-top" id="passBox"><label for="pass">驗證碼</label><div class="submit-input-area"><div class="pass-area"><div class="input-box w150"><input class="input-sty" type="text" name="pass" id="pass" placeholder=""/></div><div class="pass-box"><img src="img/pass.jpg" alt=""/></div></div><div class="stbmit-btn-box"><div class="stbmit-btn">發 送<input type="submit"/></div></div></div></div></form><div class="contact-info-area">電話｜0800-231-136<br>
傳真｜(02)2368-8128<br>
地址｜100台北市羅斯福路三段230號<br>
服務時間｜週一至週五 AM 08:30-12:00 PM 13:00-17:30 (國定假日除外)</div></div></div></section></div></div><div class="footer-area"><div class="social-side-area" id="socialSide"><div class="social-side-box"><a class="box" href="###" target="_blank"><i class="fab fa-facebook-square"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-instagram"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-youtube"></i></a></div><div class="arr-circle"><i class="fal fa-angle-down"></i></div></div><footer><div class="f-logo"><img src="img/logo_f.svg" alt=""/></div><div class="footer-link-area"><div class="footer-link-box"><div class="footer-link"><div class="tit fc"><span>探索伯朗</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="about.html#a1" id="fabout1">品牌精神</a></li><li><a href="about.html#a2" id="fabout2">不妥協的品質</a></li><li><a href="about.html#a3" id="fabout3">伯朗大事紀</a></li><li><a href="about.html#a4" id="fabout4">永續發展</a></li></ul></div><div class="footer-link"><div class="tit fc"><span>最新消息</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="news_list.html">品牌快訊</a></li><li><a href="###">影音專區</a></li></ul></div><div class="footer-link"><div class="tit fc"><span>友站連結</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="###">金車線上購</a></li><li><a href="###">伯朗咖啡館</a></li><li><a href="###">金車集團</a></li></ul></div><div class="footer-link"><div class="tit"><a href="contact.html">聯絡我們</a><div class="icon icongo"></div></div><ul class="link"><li><span>TEL  0800-231-136</span></li><li><span>FAX  (02)2368-8128</span></li><li><span>M-F  9:00am - 17:30pm</span></li></ul></div><div class="mb-footer-info"><span>TEL  0800-231-136</span><span>FAX  (02)2368-8128</span><span>M-F  9:00am - 17:30pm   </span></div></div><div class="footer-social-area"><div class="gotop" id="goTopBtn"><i class="fal fa-angle-up"></i><div class="txt">GO TOP</div></div><div class="mb-footer-social-box"><div class="social"><a href="###" target="_blank"><img src="img/icon_fb.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_ig.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_yt.svg" alt=""/></a></div><a class="privacy" href="privacy.html" target="_blank">隱私權政策</a></div></div></div><div class="footer-social-box"><a class="privacy" href="privacy.html" target="_blank">隱私權政策</a><a href="###" target="_blank"><img src="img/icon_fb.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_ig.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_yt.svg" alt=""/></a></div><div class="copyright">COPYRIGHT © KING CAR GROUP. 2022<br/> ALL RIGHTS RESERVED</div></footer></div></body></html><script>$(document).ready(function(){
	$('.input-val').each(function(){
		$(this).on('keyup',function(){
			var hasVal = $(this).val();
			console.log('231')
			if(hasVal){
				$(this).parent().parent().addClass('hasval');
			}else{
				$(this).parent().parent().removeClass('hasval');
			}
		});
	});
	$('#pass').on('keyup',function(){
		var hasVal = $(this).val();
		if(hasVal){
			$('#passBox').addClass('hasval');
		}else{
			$('#passBox').removeClass('hasval');
		}
	});
});
		</script>

pug/contact.pug
include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area.column-main-area
			.main-cont
				section.column-area
					.column-side-box.contact-side-box
						.m-tit-box
							.m-tit.inn
								h2 聯絡我們
								.sup
									span Contact Us
						.contact-copyright COPYRIGHT © KING CAR GROUP. 2022<br>ALL RIGHTS RESERVED
					.column-info-box
						.contact-form-area
							p.note 請確實填寫您的資料以及保貴意見和問題，將有專員為您服務。
							form(action="###").contact-form-cont
								-const contactFormBox01={'tit':'姓名','name':'name'};
								+contactFormBox(contactFormBox01)
								.contact-form-box
									label(for="mail") 電子郵件
									.input-box
										input.input-sty.input-val(type="e-mail" name="mail" id="mail" placeholder="")
								-const contactFormBox02={'tit':'聯絡電話','name':'phone'};
								+contactFormBox(contactFormBox02)
								-const contactFormBox03={'tit':'問題類型','name':'questType'};
								+contactFormBox(contactFormBox03)
								.contact-form-box.label-top
									label(for="cont") 訊息內容
									.input-box
										textarea.input-val(name="cont" id="cont" placeholder="")
								.contact-form-box.label-top#passBox
									label(for="pass") 驗證碼
									.submit-input-area
										.pass-area
											.input-box.w150
												input.input-sty(type="text" name="pass" id="pass" placeholder="")
											.pass-box
												img(src="img/pass.jpg", alt="")
										.stbmit-btn-box
											.stbmit-btn 發 送
												input(type="submit")
							.contact-info-area
								| 電話｜0800-231-136<br>
								| 傳真｜(02)2368-8128<br>
								| 地址｜100台北市羅斯福路三段230號<br>
								| 服務時間｜週一至週五 AM 08:30-12:00 PM 13:00-17:30 (國定假日除外)
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		$('.input-val').each(function(){
			$(this).on('keyup',function(){
				var hasVal = $(this).val();
				console.log('231')
				if(hasVal){
					$(this).parent().parent().addClass('hasval');
				}else{
					$(this).parent().parent().removeClass('hasval');
				}
			});
		});
		$('#pass').on('keyup',function(){
			var hasVal = $(this).val();
			if(hasVal){
				$('#passBox').addClass('hasval');
			}else{
				$('#passBox').removeClass('hasval');
			}
		});
	});
			
