public/home_slide.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="伯朗咖啡"/><meta name="Copyright" content="© 2022"/><meta property="og:title" content="伯朗咖啡"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="伯朗咖啡"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><meta name="format-detection" content="telephone=no"/><title>伯朗咖啡</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><link rel="stylesheet" href="css/aos.css"/><script src="js/aos.js"></script><script src="js/gsap.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/aos.css"/><link rel="stylesheet" href="css/sty.css"/><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/><script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script></head><body><div class="mask" id="mask"></div><div class="nav-area-bg" id="navAreaBg"></div><div class="nav-area" id="navArea"><nav><a class="logo" href="index.html"><h1>伯朗咖啡</h1></a><div class="nav-btn-box"><div class="tit hover" id="navTit1"><span class="zh">探索伯朗</span><span class="en">About</span></div><div class="tit hover" id="navTit2"><span class="zh">懂你的咖啡</span><span class="en">Our Coffee</span></div><div class="tit hover" id="navTit3"><span class="zh">咖啡生活</span><span class="en">Life Style</span></div><div class="tit hover" id="navTit4"><span class="zh">最新消息</span><span class="en">Latest News</span></div><a class="tit" href="###"><span class="lan">EN</span></a><div class="nav-mouse-area" id="navMouseArea"><div class="nav-social-box" id="navSocialBox"><a class="nav-social" href="###" target="_blank"><img src="img/ns_fb.svg" alt=""/></a><a class="nav-social" href="###" target="_blank"><img src="img/ns_ig.svg" alt=""/></a><a class="nav-social" href="###" target="_blank"><img src="img/ns_yt.svg" alt=""/></a></div><div class="nav-mouse-box"><div class="title">探索伯朗</div><div class="nav-mouse-link-box" id="navSub1"><div class="nav-sub-btn"><a href="about.html#a1" id="navAbout1">品牌精神</a></div><div class="nav-sub-btn"><a href="about.html#a2" id="navAbout2">不妥協的品質</a></div><div class="nav-sub-btn"><a href="about.html#a3" id="navAbout3">伯朗大事紀</a></div><div class="nav-sub-btn"><a href="about.html#a4" id="navAbout4">永續發展</a></div></div></div><div class="nav-mouse-box"><div class="title">懂你的咖啡</div><div class="nav-mouse-link-box" id="navSub2"><div class="nav-sub-btn"><a href="shop_list.html">即飲系列</a></div><div class="nav-sub-btn"><a href="###">寶特系列</a></div><div class="nav-sub-btn"><a href="###">濾掛系列</a></div><div class="nav-sub-btn"><a href="###">咖啡豆系列</a></div><div class="nav-sub-btn"><a href="###">沖調系列</a></div></div></div><div class="nav-mouse-box"><div class="title">咖啡生活</div><div class="nav-mouse-link-box" id="navSub3"><div class="nav-sub-btn"><a href="lifestyle_list.html">咖啡知識</a></div><div class="nav-sub-btn"><a href="###">啡嚐享趣</a></div></div></div><div class="nav-mouse-box"><div class="title">最新消息</div><div class="nav-mouse-link-box" id="navSub4"><div class="nav-sub-btn"><a href="video_list.html">活動影音專區</a></div><div class="nav-sub-btn"><a href="news_list.html">品牌快訊</a></div></div></div><div class="nav-mouse-box"><div class="title">EN</div></div></div></div><div class="ham-box"><div class="mb-txt">Meun</div><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div></nav></div><!-- 手機版nav--><div class="mb-nav-bg" id="mbNavBg"></div><div class="mb-nav-area"><div class="mb-nav-top"><div class="logo-box"><div class="logo"><img class="ani-item" src="img/mb_nav_logo.svg" alt=""/></div></div><button class="hamburger hamburger--squeeze" type="button" id="hamCloseBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="mb-nav"><div class="mb-nav-cont-top"><div class="mb-nav-cont"><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">探索伯朗</div><div class="arrow-box"> <span>ABOUT</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="about.html#a1" id="mbAbout1">品牌精神</a></div><div class="item"><a href="about.html#a2" id="mbAbout2">不妥協的品質</a></div><div class="item"><a href="about.html#a3" id="mbAbout3">伯朗大事紀</a></div><div class="item"><a href="about.html#a4" id="mbAbout4">永續發展</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">懂你的咖啡</div><div class="arrow-box"> <span>OUR COFFEE</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="shop_list.html">即飲系列</a></div><div class="item"><a href="###">寶特系列</a></div><div class="item"><a href="###">濾掛系列</a></div><div class="item"><a href="###">咖啡豆系列</a></div><div class="item"><a href="###">沖調系列</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">咖啡生活</div><div class="arrow-box"> <span>LIFE STYLE</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="lifestyle_list.html">咖啡知識</a></div><div class="item"><a href="###">啡嚐享趣</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">最新消息</div><div class="arrow-box"> <span>LATEAT NEWS</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="###">活動影音專區</a></div><div class="item"><a href="news_list.html">品牌快訊</a></div></div></div></div><div class="mb-social-area"><div class="mb-social-cover"><div class="mb-social-cont ani-item"><a href="###">EN</a><div class="mb-social-box"><a class="box" href="###" target="_blank"><i class="fab fa-facebook-square"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-instagram"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-youtube"></i></a></div></div></div></div></div><div class="mb-copyright-box"><div class="mb-copyright ani-item">COPYRIGHT © KING CAR GROUP. 2022</div></div></div></div><div class="slide-banner-area"><div class="swiper slide-banner" id="swiperSlideBanner"><div class="swiper-wrapper"><div class="swiper-slide"><img src="img/banner.jpg" alt=""/></div><div class="swiper-slide"><img src="img/banner02.jpg" alt=""/></div></div><div class="slide-txt-area"><div class="slide-txt-cont" id="slideTxt1"><div class="tit">咖啡美學</div><div class="en">Coffee Art</div><div class="cont">咖啡職人Barista：<br>沖出屬於自己的美好片刻<br>帶你的味蕾感受一場旅行</div><a class="arr-box" href="###"><span>暸解更多</span><div class="arr"><img src="img/news_arr_on.svg" alt=""/></div></a></div><div class="slide-txt-cont" id="slideTxt2"><div class="tit">咖啡美學</div><div class="en">Coffee Art</div><div class="cont">咖啡職人Barista：<br>沖出屬於自己的美好片刻<br>帶你的味蕾感受一場旅行</div><a class="arr-box" href="###"><span>暸解更多</span><div class="arr"><img src="img/news_arr_on.svg" alt=""/></div></a></div></div></div></div></body></html><script>$(document).ready(function(){
    changeDataAni(1);
    //=== banner ===
    var swiperBanner = new Swiper('#swiperSlideBanner', {
        //dosomthing
        loop: true,
        on: {
            slideChange() {
                var actIndex = this.realIndex;//activeIndex
                var actNum=actIndex+1;
                console.log(actIndex);
                console.log(actNum);
                changeDataAni(actNum);
            }
        }
    });
});
//=== 側邊資料顯示動畫 ===
function changeDataAni(num) {
    $('.slide-txt-cont').hide();
    $('#slideTxt'+num).show();

    var element = document.querySelector('#slideTxt'+num);
    // element.classList.add('aaa', 'bbb');
    element.classList.add('change-data');
    element.addEventListener('animationend', () => {
        // do something
        $('#slideTxt'+num).removeClass('change-data');
    });
}</script>

pug/home_slide.pug
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .slide-banner-area
            .swiper.slide-banner#swiperSlideBanner
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/banner.jpg", alt="")
                    .swiper-slide
                        img(src="img/banner02.jpg", alt="")
                .slide-txt-area
                    .slide-txt-cont#slideTxt1
                        .tit 咖啡美學
                        .en Coffee Art
                        .cont 咖啡職人Barista：<br>沖出屬於自己的美好片刻<br>帶你的味蕾感受一場旅行
                        a(href="###").arr-box
                            span 暸解更多
                            .arr
                                img(src="img/news_arr_on.svg", alt="")
                    .slide-txt-cont#slideTxt2
                        .tit 咖啡美學
                        .en Coffee Art
                        .cont 咖啡職人Barista：<br>沖出屬於自己的美好片刻<br>帶你的味蕾感受一場旅行
                        a(href="###").arr-box
                            span 暸解更多
                            .arr
                                img(src="img/news_arr_on.svg", alt="")
script.
    $(document).ready(function(){
        changeDataAni(1);
        //=== banner ===
        var swiperBanner = new Swiper('#swiperSlideBanner', {
            //dosomthing
            loop: true,
            on: {
                slideChange() {
                    var actIndex = this.realIndex;//activeIndex
                    var actNum=actIndex+1;
                    console.log(actIndex);
                    console.log(actNum);
                    changeDataAni(actNum);
                }
            }
        });
    });
    //=== 側邊資料顯示動畫 ===
    function changeDataAni(num) {
        $('.slide-txt-cont').hide();
        $('#slideTxt'+num).show();

        var element = document.querySelector('#slideTxt'+num);
        // element.classList.add('aaa', 'bbb');
        element.classList.add('change-data');
        element.addEventListener('animationend', () => {
            // do something
            $('#slideTxt'+num).removeClass('change-data');
        });
    }
