pug/news_cont_bk.pug
include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area
			.main-cont
				section.lifestyle-cont-area
					.lifestyle-cont-side
						.tit-box 醇飲冷萃<br>無加糖咖啡
						.side-bot-box
							.tit-en Pure<br>Cold Brew
							.lifestyle-social-cont
								.tit 分享好伯朗
								.lifestyle-social-box
									a(href="###")
										img(src="img/icon_bfb.svg", alt="")
									a(href="###")
										img(src="img/icon_big.svg", alt="")
									a(href="###")
										img(src="img/icon_bgoogle.svg", alt="")
									a(href="###")
										img(src="img/icon_bline.svg", alt="")
					.lifestyle-cont-info
						.date 2021-APR-13
						h2.tit-box 咖啡豆<br>從樹上到杯中的旅程
						.lifestyle-info-txt.edit-area
							p.def 非水洗式（乾燥式）精製，又稱日曬法Nature Dry果實採收後，將果實攤放在露天日曬場，以陽光曝曬乾燥，為避免乾燥不平均，必須適時攪拌日曬天數視果實的成熟度而定，成熟度越高則僅需數日，未成熟的果實需要曬上一至二週。
							p.def 另外還有半日曝曬處理法Pulped Natural此法是部分使用日曬處理的咖啡園，為了提升日曬法咖啡豆品質而改良出來的。
							p.def 半日曬法的前兩個步驟和水洗法一樣，先初步篩選浮豆，然後去除果皮、果肉。接下來的步驟就像日曬法了，將只剩果膠的種子，以日曬的方式進行乾燥。
							p.def 水洗式精製，又稱為水洗法Washed(又稱濕式加工法)首先將咖啡果實的果肉去除，接著用發酵槽去除殘留在果皮上的黏膜，豆子清洗過後加以乾燥。可以透過每個步驟去除瑕疵豆與雜質（石頭或垃圾等），因此生豆的水準極高，外觀均一，普遍認為具有高水準。
							img.def.def-txt(src="img/life01.jpg", alt="")
							.img-note Coffee Tree
							img.def(src="img/life02.jpg", alt="")
							p.def 另外還有半水洗法Semi Washed介於日曬法與水洗法中間，先將收成的咖啡果實水洗後，再用機械去除外皮的果肉，用日光使之乾燥，再用機械乾燥結束。
							p.def 與水洗法的不同之處，在於過程中不將咖啡果實放入發酵槽，品質又比日曬法穩定。
							.page-btn-box
								a(href="###").prev <i class="fal fa-angle-left"></i> 上一篇
								a(href="lifestyle_list.html") 返回列表
								a(href="###").next 下一篇 <i class="fal fa-angle-right"></i>
				+coffeeHr
				//- .coffee-hr-box
				//- 	img(src="img/icon_bcof.svg", alt="")
				section.item-bottom-area
					.m-tit-box
						.m-tit
							h2 其他快訊
							.sup
								span Other News
					.item-cube-area.item-page-cube-area
							.swiper-button-prev#itemPrev <i class="fal fa-angle-left"></i>
							.swiper.item-cube-group#swiperItem
								.swiper-wrapper
									.swiper-slide
										-const itemCubeBox01={'img':'coffee01.png','isnew': true ,'tit':'印尼弗洛勒斯','link':'###'};
										+itemPageCubeBox(itemCubeBox01)
									.swiper-slide
										-const itemCubeBox02={'img':'coffee02.png','tit':'巴西聖多士','link':'###'};
										+itemPageCubeBox(itemCubeBox02)
									.swiper-slide
										-const itemCubeBox03={'img':'coffee03.png','tit':'哥倫比亞','link':'###'};
										+itemPageCubeBox(itemCubeBox03)
									.swiper-slide
										+itemPageCubeBox(itemCubeBox03)
							.swiper-button-next#itemNext <i class="fal fa-angle-right"></i>

				
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		$('#shopCircle').addClass('on');
		var swiperItem = new Swiper('#swiperItem', {
			spaceBetween: 30,
			slidesPerView: 3,
			centeredSlides: false,
			navigation: {
				nextEl: "#itemNext",
				prevEl: "#itemPrev",
			},
			breakpoints: {
				767: {
					slidesPerView: 1.3,
					centeredSlides: true,
				},
				480:{
					slidesPerView: 1.3,
					centeredSlides: true,
					spaceBetween: 15,
				}
			},
			//- autoHeight: true,//讓外層高隨不同slide內容改變高度 不會有多餘的空白
		});
	});

public/news_cont_bk.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="伯朗咖啡"/><meta name="Copyright" content="© 2022"/><meta property="og:title" content="伯朗咖啡"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="伯朗咖啡"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><meta name="format-detection" content="telephone=no"/><title>伯朗咖啡</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><link rel="stylesheet" href="css/aos.css"/><script src="js/aos.js"></script><script src="js/gsap.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/aos.css"/><link rel="stylesheet" href="css/sty.css"/><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/><script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script></head><body><div class="mask" id="mask"></div><div class="nav-area-bg" id="navAreaBg"></div><div class="nav-area page" id="navArea"><nav><a class="logo" href="index.html"><h1>伯朗咖啡</h1></a><div class="nav-btn-box"><div class="tit hover" id="navTit1"><span class="zh">探索伯朗</span><span class="en">About</span></div><div class="tit hover" id="navTit2"><span class="zh">懂你的咖啡</span><span class="en">Our Coffee</span></div><div class="tit hover" id="navTit3"><span class="zh">咖啡生活</span><span class="en">Life Style</span></div><div class="tit hover" id="navTit4"><span class="zh">最新消息</span><span class="en">Latest News</span></div><a class="tit" href="###"><span class="lan">EN</span></a><div class="nav-mouse-area" id="navMouseArea"><div class="nav-social-box" id="navSocialBox"><a class="nav-social" href="###" target="_blank"><img src="img/ns_fb.svg" alt=""/></a><a class="nav-social" href="###" target="_blank"><img src="img/ns_ig.svg" alt=""/></a><a class="nav-social" href="###" target="_blank"><img src="img/ns_yt.svg" alt=""/></a></div><div class="nav-mouse-box"><div class="title">探索伯朗</div><div class="nav-mouse-link-box" id="navSub1"><div class="nav-sub-btn"><a href="about.html#a1" id="navAbout1">品牌精神</a></div><div class="nav-sub-btn"><a href="about.html#a2" id="navAbout2">不妥協的品質</a></div><div class="nav-sub-btn"><a href="about.html#a3" id="navAbout3">伯朗大事紀</a></div><div class="nav-sub-btn"><a href="about.html#a4" id="navAbout4">永續發展</a></div></div></div><div class="nav-mouse-box"><div class="title">懂你的咖啡</div><div class="nav-mouse-link-box" id="navSub2"><div class="nav-sub-btn"><a href="shop_list.html">即飲系列</a></div><div class="nav-sub-btn"><a href="###">寶特系列</a></div><div class="nav-sub-btn"><a href="###">濾掛系列</a></div><div class="nav-sub-btn"><a href="###">咖啡豆系列</a></div><div class="nav-sub-btn"><a href="###">沖調系列</a></div></div></div><div class="nav-mouse-box"><div class="title">咖啡生活</div><div class="nav-mouse-link-box" id="navSub3"><div class="nav-sub-btn"><a href="lifestyle_list.html">咖啡知識</a></div><div class="nav-sub-btn"><a href="###">啡嚐享趣</a></div></div></div><div class="nav-mouse-box"><div class="title">最新消息</div><div class="nav-mouse-link-box" id="navSub4"><div class="nav-sub-btn"><a href="video_list.html">活動影音專區</a></div><div class="nav-sub-btn"><a href="news_list.html">品牌快訊</a></div></div></div><div class="nav-mouse-box"><div class="title">EN</div></div></div></div><div class="ham-box"><div class="mb-txt">Meun</div><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div></nav></div><!-- 手機版nav--><div class="mb-nav-bg" id="mbNavBg"></div><div class="mb-nav-area"><div class="mb-nav-top"><div class="logo-box"><div class="logo"><img class="ani-item" src="img/mb_nav_logo.svg" alt=""/></div></div><button class="hamburger hamburger--squeeze" type="button" id="hamCloseBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="mb-nav"><div class="mb-nav-cont-top"><div class="mb-nav-cont"><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">探索伯朗</div><div class="arrow-box"> <span>ABOUT</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="about.html#a1" id="mbAbout1">品牌精神</a></div><div class="item"><a href="about.html#a2" id="mbAbout2">不妥協的品質</a></div><div class="item"><a href="about.html#a3" id="mbAbout3">伯朗大事紀</a></div><div class="item"><a href="about.html#a4" id="mbAbout4">永續發展</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">懂你的咖啡</div><div class="arrow-box"> <span>OUR COFFEE</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="shop_list.html">即飲系列</a></div><div class="item"><a href="###">寶特系列</a></div><div class="item"><a href="###">濾掛系列</a></div><div class="item"><a href="###">咖啡豆系列</a></div><div class="item"><a href="###">沖調系列</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">咖啡生活</div><div class="arrow-box"> <span>LIFE STYLE</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="lifestyle_list.html">咖啡知識</a></div><div class="item"><a href="###">啡嚐享趣</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">最新消息</div><div class="arrow-box"> <span>LATEAT NEWS</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="###">活動影音專區</a></div><div class="item"><a href="news_list.html">品牌快訊</a></div></div></div></div><div class="mb-social-area"><div class="mb-social-cover"><div class="mb-social-cont ani-item"><a href="###">EN</a><div class="mb-social-box"><a class="box" href="###" target="_blank"><i class="fab fa-facebook-square"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-instagram"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-youtube"></i></a></div></div></div></div></div><div class="mb-copyright-box"><div class="mb-copyright ani-item">COPYRIGHT © KING CAR GROUP. 2022</div></div></div></div><div class="main-area"><div class="main-cont"><section class="lifestyle-cont-area"><div class="lifestyle-cont-side"><div class="tit-box">醇飲冷萃<br>無加糖咖啡</div><div class="side-bot-box"><div class="tit-en">Pure<br>Cold Brew</div><div class="lifestyle-social-cont"><div class="tit">分享好伯朗</div><div class="lifestyle-social-box"><a href="###"><img src="img/icon_bfb.svg" alt=""/></a><a href="###"><img src="img/icon_big.svg" alt=""/></a><a href="###"><img src="img/icon_bgoogle.svg" alt=""/></a><a href="###"><img src="img/icon_bline.svg" alt=""/></a></div></div></div></div><div class="lifestyle-cont-info"><div class="date">2021-APR-13</div><h2 class="tit-box">咖啡豆<br>從樹上到杯中的旅程</h2><div class="lifestyle-info-txt edit-area"><p class="def">非水洗式（乾燥式）精製，又稱日曬法Nature Dry果實採收後，將果實攤放在露天日曬場，以陽光曝曬乾燥，為避免乾燥不平均，必須適時攪拌日曬天數視果實的成熟度而定，成熟度越高則僅需數日，未成熟的果實需要曬上一至二週。</p><p class="def">另外還有半日曝曬處理法Pulped Natural此法是部分使用日曬處理的咖啡園，為了提升日曬法咖啡豆品質而改良出來的。</p><p class="def">半日曬法的前兩個步驟和水洗法一樣，先初步篩選浮豆，然後去除果皮、果肉。接下來的步驟就像日曬法了，將只剩果膠的種子，以日曬的方式進行乾燥。</p><p class="def">水洗式精製，又稱為水洗法Washed(又稱濕式加工法)首先將咖啡果實的果肉去除，接著用發酵槽去除殘留在果皮上的黏膜，豆子清洗過後加以乾燥。可以透過每個步驟去除瑕疵豆與雜質（石頭或垃圾等），因此生豆的水準極高，外觀均一，普遍認為具有高水準。</p><img class="def def-txt" src="img/life01.jpg" alt=""/><div class="img-note">Coffee Tree</div><img class="def" src="img/life02.jpg" alt=""/><p class="def">另外還有半水洗法Semi Washed介於日曬法與水洗法中間，先將收成的咖啡果實水洗後，再用機械去除外皮的果肉，用日光使之乾燥，再用機械乾燥結束。</p><p class="def">與水洗法的不同之處，在於過程中不將咖啡果實放入發酵槽，品質又比日曬法穩定。</p><div class="page-btn-box"><a class="prev" href="###"><i class="fal fa-angle-left"></i> 上一篇</a><a href="lifestyle_list.html">返回列表</a><a class="next" href="###">下一篇 <i class="fal fa-angle-right"></i></a></div></div></div></section><div class="coffee-hr-box"><div class="circle-hr-box"><img class="circle" src="img/circle.svg" alt=""/><img class="dot" src="img/circle_dot.svg" alt=""/></div></div><section class="item-bottom-area"><div class="m-tit-box"><div class="m-tit"><h2>其他快訊</h2><div class="sup"><span>Other News</span></div></div></div><div class="item-cube-area item-page-cube-area"><div class="swiper-button-prev" id="itemPrev"><i class="fal fa-angle-left"></i></div><div class="swiper item-cube-group" id="swiperItem"><div class="swiper-wrapper"><div class="swiper-slide"><div class="item-page-cube-box"><div class="item-page-cube-img"><div class="icon-new">New</div><div class="item-img"><img src="img/coffee01.png" alt=""/></div></div><div class="item-page-cube-name"><div class="name">印尼弗洛勒斯</div><a href="###">暸解更多 <i class="fal fa-chevron-right"></i></a></div></div></div><div class="swiper-slide"><div class="item-page-cube-box"><div class="item-page-cube-img"><div class="item-img"><img src="img/coffee02.png" alt=""/></div></div><div class="item-page-cube-name"><div class="name">巴西聖多士</div><a href="###">暸解更多 <i class="fal fa-chevron-right"></i></a></div></div></div><div class="swiper-slide"><div class="item-page-cube-box"><div class="item-page-cube-img"><div class="item-img"><img src="img/coffee03.png" alt=""/></div></div><div class="item-page-cube-name"><div class="name">哥倫比亞</div><a href="###">暸解更多 <i class="fal fa-chevron-right"></i></a></div></div></div><div class="swiper-slide"><div class="item-page-cube-box"><div class="item-page-cube-img"><div class="item-img"><img src="img/coffee03.png" alt=""/></div></div><div class="item-page-cube-name"><div class="name">哥倫比亞</div><a href="###">暸解更多 <i class="fal fa-chevron-right"></i></a></div></div></div></div></div><div class="swiper-button-next" id="itemNext"><i class="fal fa-angle-right"></i></div></div></section></div></div><div class="footer-area"><div class="social-side-area" id="socialSide"><div class="social-side-box"><a class="box" href="###" target="_blank"><i class="fab fa-facebook-square"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-instagram"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-youtube"></i></a></div><div class="arr-circle"><i class="fal fa-angle-down"></i></div></div><footer><div class="f-logo"><img src="img/logo_f.svg" alt=""/></div><div class="footer-link-area"><div class="footer-link-box"><div class="footer-link"><div class="tit fc"><span>探索伯朗</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="about.html#a1" id="fabout1">品牌精神</a></li><li><a href="about.html#a2" id="fabout2">不妥協的品質</a></li><li><a href="about.html#a3" id="fabout3">伯朗大事紀</a></li><li><a href="about.html#a4" id="fabout4">永續發展</a></li></ul></div><div class="footer-link"><div class="tit fc"><span>最新消息</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="news_list.html">品牌快訊</a></li><li><a href="###">影音專區</a></li></ul></div><div class="footer-link"><div class="tit fc"><span>友站連結</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="###">金車線上購</a></li><li><a href="###">伯朗咖啡館</a></li><li><a href="###">金車集團</a></li></ul></div><div class="footer-link"><div class="tit"><a href="contact.html">聯絡我們</a><div class="icon icongo"></div></div><ul class="link"><li><span>TEL  0800-231-136</span></li><li><span>FAX  (02)2368-8128</span></li><li><span>M-F  9:00am - 17:30pm</span></li></ul></div><div class="mb-footer-info"><span>TEL  0800-231-136</span><span>FAX  (02)2368-8128</span><span>M-F  9:00am - 17:30pm   </span></div></div><div class="footer-social-area"><div class="gotop" id="goTopBtn"><i class="fal fa-angle-up"></i><div class="txt">GO TOP</div></div><div class="mb-footer-social-box"><div class="social"><a href="###" target="_blank"><img src="img/icon_fb.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_ig.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_yt.svg" alt=""/></a></div><a class="privacy" href="privacy.html" target="_blank">隱私權政策</a></div></div></div><div class="footer-social-box"><a class="privacy" href="privacy.html" target="_blank">隱私權政策</a><a href="###" target="_blank"><img src="img/icon_fb.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_ig.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_yt.svg" alt=""/></a></div><div class="copyright">COPYRIGHT © KING CAR GROUP. 2022<br/> ALL RIGHTS RESERVED</div></footer></div></body></html><script>$(document).ready(function(){
	$('#shopCircle').addClass('on');
	var swiperItem = new Swiper('#swiperItem', {
		spaceBetween: 30,
		slidesPerView: 3,
		centeredSlides: false,
		navigation: {
			nextEl: "#itemNext",
			prevEl: "#itemPrev",
		},
		breakpoints: {
			767: {
				slidesPerView: 1.3,
				centeredSlides: true,
			},
			480:{
				slidesPerView: 1.3,
				centeredSlides: true,
				spaceBetween: 15,
			}
		},
		//- autoHeight: true,//讓外層高隨不同slide內容改變高度 不會有多餘的空白
	});
});</script>
