pug/privacy.pug
include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area.column-main-area
			.main-cont
				section.column-area
					.column-side-box
						.m-tit-box
							.m-tit.inn
								h2 隱私政策
								.sup
									span Privacy Policy
					.column-info-box
						.privacy-info-box
							.privacy-box
								.tit 會員協議條款｜
								p 伯朗咖啡網站會員協議條款（以下簡稱「本條款」），是金車股份有限公司之伯朗咖啡系列產品之網站（以下簡稱「伯朗咖啡網站 」）與伯朗咖啡網站會員（以下簡稱「會員」、「您」或「您的」）的共同協議條款。<br><br>「伯朗咖啡網站」，係由金車股份有限公司所擁有的網站，「會員」係使用伯朗咖啡網站服務之貴賓。伯朗咖啡網站將按照本協議條款的內容及服務條款執行。敬請詳閱本條款內容，如果您不接受本條款之任何協議事項，請勿註 冊成為會員。
							.privacy-box
								.tit 會員服務簡介｜
								p 伯朗咖啡網站透過國際互聯網路為會員提供各項服務。<br>會員必須：<br><br>(1)自行配備上網的所需設備，包括個人電腦或其他必備的上網裝置。<br>(2)自行負擔個人上網所需支付與此服務有關的電話或網路連線費用。<br><br>伯朗咖啡網站除以下情形外，不能公開會員的姓名、地址、郵件、IP地址予第三人：<br><br>(1)經會員要求伯朗咖啡網站上述資訊。<br>(2)依法律之規定需要伯朗咖啡網站提供會員的資料。會員在使用伯朗咖啡網站各項服務的同時，會員同意接受伯朗咖啡網站提供的各類訊息服務。
							.privacy-box
								.tit 服務條款之修訂權利｜
								p 伯朗咖啡網站保留修改或中斷服務是否須通知會員的權利。服務條款更動，會在重要頁面上提示修改內容。會員如果不同意所改動的內容，可以主動終止網路服務。如果繼續使用伯朗咖啡網站提供的服務，則視為接受服務條款的變動。伯朗咖啡網站行使修改或中斷服務的權利，無須對會員或第三人負擔法律責任。
							.privacy-box
								.tit 隱私權約定｜
								p 伯朗咖啡網站尊重會員個人隱私。伯朗咖啡網站不會在未經會員合法授權之情況下公開或透露會員的資料，除非以下所列之狀況：<br><br>(1)遵守法律規定，在有關執法部門依法查詢時，提供會員在伯朗咖啡網站的網頁上發佈的訊息內容及其發佈時間、互聯網地址或者域名。<br>(2)伯朗咖啡網站內容服務程式之需求。<br>(3)為維護伯朗咖啡網站的智慧財產權。
							.privacy-box
								.tit 會員資訊之安全性｜
								p 用戶註冊成為會員後，伯朗咖啡網站將有屬於您自己的一個帳號和密碼。如果您未保管好自己的帳號和密碼而對您、伯朗咖啡網站或第三方造成損害，您將負全部責任。另會員須對其帳戶中的所有行為負責。會員同意若發現任何非法使用會員帳號或安全漏洞的情況時，有義務立即通知伯朗咖啡網站。
							.privacy-box
								.tit 會員義務｜
								p 會員須對自己在使用伯朗咖啡網站服務過程中的行為承擔法律責任。並不得以任何方式破壞或妨礙伯朗咖啡網站的服務，為此您同意以下事項：<br><br>(1)提供您本人正確、最新及完整的資料，依本服務註冊表之提示完成登錄註冊。<br>(2)為確保您的權益，請維持並更新您個人資料，確保其為正確、最新及完整。若您提供的資料有任何錯誤或不實，伯朗咖啡網站有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部份。
							.privacy-box
								.tit 準據法與管轄法院約定｜
								p 本條款之解釋與適用，均應依照中華民國法律，本條款有關的爭議，同意以台灣台北地方法院為第一審管轄法院。
		//-內容
		include includes/footer

public/privacy.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="伯朗咖啡"/><meta name="Copyright" content="© 2022"/><meta property="og:title" content="伯朗咖啡"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="伯朗咖啡"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><meta name="format-detection" content="telephone=no"/><title>伯朗咖啡</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><link rel="stylesheet" href="css/aos.css"/><script src="js/aos.js"></script><script src="js/gsap.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/aos.css"/><link rel="stylesheet" href="css/sty.css"/><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/><script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script></head><body><div class="mask" id="mask"></div><div class="nav-area-bg" id="navAreaBg"></div><div class="nav-area page" id="navArea"><nav><a class="logo" href="index.html"><h1>伯朗咖啡</h1></a><div class="nav-btn-box"><div class="tit hover" id="navTit1"><span class="zh">探索伯朗</span><span class="en">About</span></div><div class="tit hover" id="navTit2"><span class="zh">懂你的咖啡</span><span class="en">Our Coffee</span></div><div class="tit hover" id="navTit3"><span class="zh">咖啡生活</span><span class="en">Life Style</span></div><div class="tit hover" id="navTit4"><span class="zh">最新消息</span><span class="en">Latest News</span></div><a class="tit" href="###"><span class="lan">EN</span></a><div class="nav-mouse-area" id="navMouseArea"><div class="nav-social-box" id="navSocialBox"><a class="nav-social" href="###" target="_blank"><img src="img/ns_fb.svg" alt=""/></a><a class="nav-social" href="###" target="_blank"><img src="img/ns_ig.svg" alt=""/></a><a class="nav-social" href="###" target="_blank"><img src="img/ns_yt.svg" alt=""/></a></div><div class="nav-mouse-box"><div class="title">探索伯朗</div><div class="nav-mouse-link-box" id="navSub1"><div class="nav-sub-btn"><a href="about.html#a1" id="navAbout1">品牌精神</a></div><div class="nav-sub-btn"><a href="about.html#a2" id="navAbout2">不妥協的品質</a></div><div class="nav-sub-btn"><a href="about.html#a3" id="navAbout3">伯朗大事紀</a></div><div class="nav-sub-btn"><a href="about.html#a4" id="navAbout4">永續發展</a></div></div></div><div class="nav-mouse-box"><div class="title">懂你的咖啡</div><div class="nav-mouse-link-box" id="navSub2"><div class="nav-sub-btn"><a href="shop_list.html">即飲系列</a></div><div class="nav-sub-btn"><a href="###">寶特系列</a></div><div class="nav-sub-btn"><a href="###">濾掛系列</a></div><div class="nav-sub-btn"><a href="###">咖啡豆系列</a></div><div class="nav-sub-btn"><a href="###">沖調系列</a></div></div></div><div class="nav-mouse-box"><div class="title">咖啡生活</div><div class="nav-mouse-link-box" id="navSub3"><div class="nav-sub-btn"><a href="lifestyle_list.html">咖啡知識</a></div><div class="nav-sub-btn"><a href="###">啡嚐享趣</a></div></div></div><div class="nav-mouse-box"><div class="title">最新消息</div><div class="nav-mouse-link-box" id="navSub4"><div class="nav-sub-btn"><a href="video_list.html">活動影音專區</a></div><div class="nav-sub-btn"><a href="news_list.html">品牌快訊</a></div></div></div><div class="nav-mouse-box"><div class="title">EN</div></div></div></div><div class="ham-box"><div class="mb-txt">Meun</div><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div></nav></div><!-- 手機版nav--><div class="mb-nav-bg" id="mbNavBg"></div><div class="mb-nav-area"><div class="mb-nav-top"><div class="logo-box"><div class="logo"><img class="ani-item" src="img/mb_nav_logo.svg" alt=""/></div></div><button class="hamburger hamburger--squeeze" type="button" id="hamCloseBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="mb-nav"><div class="mb-nav-cont-top"><div class="mb-nav-cont"><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">探索伯朗</div><div class="arrow-box"> <span>ABOUT</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="about.html#a1" id="mbAbout1">品牌精神</a></div><div class="item"><a href="about.html#a2" id="mbAbout2">不妥協的品質</a></div><div class="item"><a href="about.html#a3" id="mbAbout3">伯朗大事紀</a></div><div class="item"><a href="about.html#a4" id="mbAbout4">永續發展</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">懂你的咖啡</div><div class="arrow-box"> <span>OUR COFFEE</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="shop_list.html">即飲系列</a></div><div class="item"><a href="###">寶特系列</a></div><div class="item"><a href="###">濾掛系列</a></div><div class="item"><a href="###">咖啡豆系列</a></div><div class="item"><a href="###">沖調系列</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">咖啡生活</div><div class="arrow-box"> <span>LIFE STYLE</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="lifestyle_list.html">咖啡知識</a></div><div class="item"><a href="###">啡嚐享趣</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">最新消息</div><div class="arrow-box"> <span>LATEAT NEWS</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="###">活動影音專區</a></div><div class="item"><a href="news_list.html">品牌快訊</a></div></div></div></div><div class="mb-social-area"><div class="mb-social-cover"><div class="mb-social-cont ani-item"><a href="###">EN</a><div class="mb-social-box"><a class="box" href="###" target="_blank"><i class="fab fa-facebook-square"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-instagram"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-youtube"></i></a></div></div></div></div></div><div class="mb-copyright-box"><div class="mb-copyright ani-item">COPYRIGHT © KING CAR GROUP. 2022</div></div></div></div><div class="main-area column-main-area"><div class="main-cont"><section class="column-area"><div class="column-side-box"><div class="m-tit-box"><div class="m-tit inn"><h2>隱私政策</h2><div class="sup"><span>Privacy Policy</span></div></div></div></div><div class="column-info-box"><div class="privacy-info-box"><div class="privacy-box"><div class="tit">會員協議條款｜</div><p>伯朗咖啡網站會員協議條款（以下簡稱「本條款」），是金車股份有限公司之伯朗咖啡系列產品之網站（以下簡稱「伯朗咖啡網站 」）與伯朗咖啡網站會員（以下簡稱「會員」、「您」或「您的」）的共同協議條款。<br><br>「伯朗咖啡網站」，係由金車股份有限公司所擁有的網站，「會員」係使用伯朗咖啡網站服務之貴賓。伯朗咖啡網站將按照本協議條款的內容及服務條款執行。敬請詳閱本條款內容，如果您不接受本條款之任何協議事項，請勿註 冊成為會員。</p></div><div class="privacy-box"><div class="tit">會員服務簡介｜</div><p>伯朗咖啡網站透過國際互聯網路為會員提供各項服務。<br>會員必須：<br><br>(1)自行配備上網的所需設備，包括個人電腦或其他必備的上網裝置。<br>(2)自行負擔個人上網所需支付與此服務有關的電話或網路連線費用。<br><br>伯朗咖啡網站除以下情形外，不能公開會員的姓名、地址、郵件、IP地址予第三人：<br><br>(1)經會員要求伯朗咖啡網站上述資訊。<br>(2)依法律之規定需要伯朗咖啡網站提供會員的資料。會員在使用伯朗咖啡網站各項服務的同時，會員同意接受伯朗咖啡網站提供的各類訊息服務。</p></div><div class="privacy-box"><div class="tit">服務條款之修訂權利｜</div><p>伯朗咖啡網站保留修改或中斷服務是否須通知會員的權利。服務條款更動，會在重要頁面上提示修改內容。會員如果不同意所改動的內容，可以主動終止網路服務。如果繼續使用伯朗咖啡網站提供的服務，則視為接受服務條款的變動。伯朗咖啡網站行使修改或中斷服務的權利，無須對會員或第三人負擔法律責任。</p></div><div class="privacy-box"><div class="tit">隱私權約定｜</div><p>伯朗咖啡網站尊重會員個人隱私。伯朗咖啡網站不會在未經會員合法授權之情況下公開或透露會員的資料，除非以下所列之狀況：<br><br>(1)遵守法律規定，在有關執法部門依法查詢時，提供會員在伯朗咖啡網站的網頁上發佈的訊息內容及其發佈時間、互聯網地址或者域名。<br>(2)伯朗咖啡網站內容服務程式之需求。<br>(3)為維護伯朗咖啡網站的智慧財產權。</p></div><div class="privacy-box"><div class="tit">會員資訊之安全性｜</div><p>用戶註冊成為會員後，伯朗咖啡網站將有屬於您自己的一個帳號和密碼。如果您未保管好自己的帳號和密碼而對您、伯朗咖啡網站或第三方造成損害，您將負全部責任。另會員須對其帳戶中的所有行為負責。會員同意若發現任何非法使用會員帳號或安全漏洞的情況時，有義務立即通知伯朗咖啡網站。</p></div><div class="privacy-box"><div class="tit">會員義務｜</div><p>會員須對自己在使用伯朗咖啡網站服務過程中的行為承擔法律責任。並不得以任何方式破壞或妨礙伯朗咖啡網站的服務，為此您同意以下事項：<br><br>(1)提供您本人正確、最新及完整的資料，依本服務註冊表之提示完成登錄註冊。<br>(2)為確保您的權益，請維持並更新您個人資料，確保其為正確、最新及完整。若您提供的資料有任何錯誤或不實，伯朗咖啡網站有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部份。</p></div><div class="privacy-box"><div class="tit">準據法與管轄法院約定｜</div><p>本條款之解釋與適用，均應依照中華民國法律，本條款有關的爭議，同意以台灣台北地方法院為第一審管轄法院。</p></div></div></div></section></div></div><div class="footer-area"><div class="social-side-area" id="socialSide"><div class="social-side-box"><a class="box" href="###" target="_blank"><i class="fab fa-facebook-square"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-instagram"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-youtube"></i></a></div><div class="arr-circle"><i class="fal fa-angle-down"></i></div></div><footer><div class="f-logo"><img src="img/logo_f.svg" alt=""/></div><div class="footer-link-area"><div class="footer-link-box"><div class="footer-link"><div class="tit fc"><span>探索伯朗</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="about.html#a1" id="fabout1">品牌精神</a></li><li><a href="about.html#a2" id="fabout2">不妥協的品質</a></li><li><a href="about.html#a3" id="fabout3">伯朗大事紀</a></li><li><a href="about.html#a4" id="fabout4">永續發展</a></li></ul></div><div class="footer-link"><div class="tit fc"><span>最新消息</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="news_list.html">品牌快訊</a></li><li><a href="###">影音專區</a></li></ul></div><div class="footer-link"><div class="tit fc"><span>友站連結</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="###">金車線上購</a></li><li><a href="###">伯朗咖啡館</a></li><li><a href="###">金車集團</a></li></ul></div><div class="footer-link"><div class="tit"><a href="contact.html">聯絡我們</a><div class="icon icongo"></div></div><ul class="link"><li><span>TEL  0800-231-136</span></li><li><span>FAX  (02)2368-8128</span></li><li><span>M-F  9:00am - 17:30pm</span></li></ul></div><div class="mb-footer-info"><span>TEL  0800-231-136</span><span>FAX  (02)2368-8128</span><span>M-F  9:00am - 17:30pm   </span></div></div><div class="footer-social-area"><div class="gotop" id="goTopBtn"><i class="fal fa-angle-up"></i><div class="txt">GO TOP</div></div><div class="mb-footer-social-box"><div class="social"><a href="###" target="_blank"><img src="img/icon_fb.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_ig.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_yt.svg" alt=""/></a></div><a class="privacy" href="privacy.html" target="_blank">隱私權政策</a></div></div></div><div class="footer-social-box"><a class="privacy" href="privacy.html" target="_blank">隱私權政策</a><a href="###" target="_blank"><img src="img/icon_fb.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_ig.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_yt.svg" alt=""/></a></div><div class="copyright">COPYRIGHT © KING CAR GROUP. 2022<br/> ALL RIGHTS RESERVED</div></footer></div></body></html>
