pug/pug_note.pug
include includes/mixin
<!DOCTYPE html>
html
	include includes/header 
	body
		h1.pug-h1 PUG 筆記
		div.pug-box
			div.pug-nuit Unit 1 - . 和 ｜ ， div預設 與 變數使用
			div.pug-txt
				| ＊在 tag 下一行縮排後使用 | 後的任何內容會以純文字呈現<br>
				| ＊在 tag 後下一個 . 後面的內容都會是文字<br>
				| ＊div可以不下標籤 <span>.mydiv</span> 和 <span>#myDivId</span>，預設會是div
			.pug-txt.
				| ＊ -const content='重要請注意！';
				| ＊ -const imp='<span>重要請注意！<span>';
				| p 我是一段文章，# {content}，! {imp}
				| ＊ 如果是普通文字可以使用 # {content}，但如果夾帶標籤需要使用! {imp}
		div.pug-box
			div.pug-nuit Unit 2 - tag屬性
			div.pug-txt(id="myId" class="my-class01")
				| ＊id 可以這樣 <span>div(id="myId")</span>	和 <span>div#myId</span><br>
				| ＊class <span>div(class="my-class01")</span> ，
				.ex-box.
					- const classList=['class01','class02']<br>
					＊1：div(class=classList class="class03") 使用array帶入<br>
					＊2：div(class=classList[0] class="class03") 可以選取陣列第幾個<br>
					＊3：div.c01.c02#idDiv(class='class01 class02') 可以累加
				| ＊style 
				.ex-box.
					div(style={color: 'red', background: 'green'}) STYLE測試<br>
					- const myStyle={color: 'red', background: 'green'}<br>
					div(style=myStyle) STYLE測試
				//- 縮排就可以查看實際樣子
				| ＊img
				.ex-box.
					img(src="/img/icon_file.png", alt="我是圖片喔")<br>
					- let myImg = { "src":"/img/icon_file.png","alt":"我是圖片喔" }<br>
					img&attributes(myImg)
				| ＊input
				.ex-box.
					input(type="text", name="inputName" disabled=false)<br>
					這裡 disabled 可以下false 或 true 做開關
				| ＊attributes
				.ex-box.
					-const aniAttr={'data-aos': 'fade-up','data-aos-duration':'1500','data-aos-easing':'ease-in-out','data-aos-anchor-placement':'top-center'}
					#box&attributes(aniAtt)<br>
					添加attr屬性
				| ＊可以在屬性裡面加判斷是更改屬性質
				.ex-box.
					div(class=`${ 3 > 2 ? "c01" : "c02"}` data-js=`${ 1 > 2 ? "OK!" : "Not Ok!"}`)<br>
					產生 div class="c01" data-js="Not Ok!"
				| ＊帶入mixin 屬性加入data帶入字串
				.ex-box.
					img(src="img/"+`${data.img}`, alt="")
		div.pug-box
			div.pug-nuit Unit 3 - For Each loop
			div.pug-txt
				| ＊ 迴圈
				.ex-box.
					each n in ['a','b','c']<br>
						p 10 <span>//這樣的話會是固定內容10 並跑陣列長度，這樣的話是陣列長度三 所以跑三個 p> 10 /p></span><br>
						p= n <span>//這樣會跑陣列裡面的值</span><br>
						p.a 123 <span>//可以帶上class</span><br>
						p.b= n<br>
						<br>
					each n, i in ['a','b','c']<br>
						p= i+'-'+n <span>//使用i 可以讀取陣列KEY n = 內容值 i = 序號</span>
				| ＊ 可以把陣列拆出來宣告
				.ex-box.
					一、<br>
					-const nameList=['amy','john','mark']<br>
					each n, i in nameList<br>
						p= (i+1)+'號：'+ n <span>//可以用計算讓內容改變</span><br>
					<br>
					二、<br>
					-const fruitList= {'蘋果':'10', '香蕉':'20', '橘子':'30'}<br>
					each n, i in fruitList<br>
						p= i+'：'+n+'元'<br>
					<br>
					三、<br>
					-const fruitAreaList= {'台北':{'蘋果':'10'},'台中':{'香蕉':'20'},'高雄':{'橘子':'30'}}<br>
					each n, i in fruitAreaList<br>
						p= i //-台北<br>
						//- 這裡宣告帶入的是 fruitAreaList的 i (key)<br>
						-const area = i<br>
						//- 這裡的 n 是上層的fruitAreaList的 n (val)<br>
						each v ,i in n<br>
							p= i //- 10<br>
							p= v //- 蘋果<br>
							p= area+'：'+i+'賣'+v+'元'<br>
					<span>
						註(最後物件each法)：因為pug只能each兩種key, val 所以在第一個each出val會只有{ object,object }<br>
						再將上一層的key帶入一個變數，在each 一次這個val 就可以出 key 和 val ， 上層帶入變數也可以使用
					<span>
					<br>
				| ＊ 也有判斷式
				.ex-box.
					for n, i in ['aaa']<br>
						p= n+'-'+i<br>
					else<br>
						srtrong 沒有值在內喔！<br>
					<span>//如果陣列裡面沒有值，就會跑else內容</span>
		div.pug-box
			div.pug-nuit Unit 4 - 判斷式
			div.pug-txt
				| ＊ 判斷如果物件條件過了才會顯示
				| ＊ 單組
				.ex-box.
					- const user={ name:'simple', login: false, lastLogin:'8'};<br>
					if user.login<br>
						p Hello～<br>
							strong # { user.name }<br>
					else if user.lastLogin < 10<br>
						p 距離你上次登入時間為：# { user.lastLogin }<br>
						p 請重新登入<br>
							a(href="##") 登入<br>
					else<br>
						a(href="###") 請登入<br>
				| ＊ 多組 可以用each 去編織 但是代數users 要改為n
				.ex-box.
					- const users=[{ name:'simple', login: false, lastLogin:'8'},{ name:'toast', login: true, lastLogin:'8'}]<br>
					each n in users<br>
						p= n.name<br>
						if n.login<br>
							p Hello～<br>
								strong # { n.name }<br>
						else if n.lastLogin < 10<br>
							p 距離你上次登入時間為：# { n.lastLogin }<br>
							p 請重新登入<br>
								a(href="##") 登入<br>
						else<br>
							a(href="###") 請登入
		div.pug-box
			div.pug-nuit Unit 5 - case條件
			div.pug-txt
				| ＊ const 為單一宣告，let 為 function 內宣告在 function內才有用<br>
				| ＊ 單一條件判斷顯示
				.ex-box.
					＊ 條件備註：Pending , InTransit , Compelet
					- const orderStatus ='Pending';
					case orderStatus
						when 'Pending'
							p 你的餐點正在準備！
						when 'InTransit'
							p 你的餐點正在送往的路上！
						when 'Compelet'
							p 你的餐點已經到達！
						default
							p 抱歉！我們沒有您的定單通知！
		div.pug-box
			div.pug-nuit Unit 6 - include共用文件
			div.pug-txt
				| ＊ 直接新增一個pug檔案，在inculde後面加上檔名就可以了。
				.ex-box.
					include includes/nav <span>(檔案路徑)</span>
		div.pug-box
			div.pug-nuit Unit 7 - 組件Mixins
			div.pug-txt
				| ＊ Mixins用法，開另外一個檔案裡面寫入設定共用方式 再用json宣告寫入內容<br>
				| ＊ Mixins 文黨在文件最上方載入<br>
				| ＊ 詳見mixin.jade
				.mail-box
					.mail-tit 我是標題
					.mail-txt 我是內文
						.mail-date 2020/03/26
				- var mail1={ tit:'我是標題', cont:'我是內文', date:'2020/03/26'};
				+mailBox(mail1)
				- var mail2={ tit:'我是標題2', cont:'我是內文2', date:'2020/03/27'};
				+mailBox(mail2)
				| ＊ 也可以使用陣列物件json，另可加入判斷式 顯示使否要的div
				- var mails=[{ new:true ,tit:'我是標題', cont:'我是內文', date:'2020/03/26'},{ tit:'我是標題2', cont:'我是內文2', date:'2020/03/27'}]
				each n, i in mails
					+mailBox(n)
		div(id="testId" class="test-class" style={color: 'red'})
			script.
				var $div11='<div>122211</div>';
				$('#testId').append($div11);
				var a =1;
			| 試試看
			a(herf="###" style={color: 'red', background: 'green'}) 點我看連結
			- const aStyle = {"color":"#ff0000","text-align":"center"};
			a(href="###" style=aStyle) 我是測試連結二
			div
				p.
					This text belongs to the paragraph tag.<br>
					This text belongs to the div tag.
			- let classList=['class01','class02']
			div(class=classList class="class03") 測試
			div(class=classList[0] class="class03") 測試
			div.c01.c02#idDiv(class='class01 class02') 測試

public/pug_note.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="伯朗咖啡"/><meta name="Copyright" content="© 2022"/><meta property="og:title" content="伯朗咖啡"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="伯朗咖啡"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><meta name="format-detection" content="telephone=no"/><title>伯朗咖啡</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><link rel="stylesheet" href="css/aos.css"/><script src="js/aos.js"></script><script src="js/gsap.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/aos.css"/><link rel="stylesheet" href="css/sty.css"/><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/><script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script></head><body><h1 class="pug-h1">PUG 筆記</h1><div class="pug-box"><div class="pug-nuit">Unit 1 - . 和 ｜ ， div預設 與 變數使用</div><div class="pug-txt">＊在 tag 下一行縮排後使用 | 後的任何內容會以純文字呈現<br>
＊在 tag 後下一個 . 後面的內容都會是文字<br>
＊div可以不下標籤 <span>.mydiv</span> 和 <span>#myDivId</span>，預設會是div</div><div class="pug-txt">| ＊ -const content='重要請注意！';
| ＊ -const imp='<span>重要請注意！<span>';
| p 我是一段文章，# {content}，! {imp}
| ＊ 如果是普通文字可以使用 # {content}，但如果夾帶標籤需要使用! {imp}</div></div><div class="pug-box"><div class="pug-nuit">Unit 2 - tag屬性</div><div class="pug-txt my-class01" id="myId">＊id 可以這樣 <span>div(id="myId")</span>	和 <span>div#myId</span><br>
＊class <span>div(class="my-class01")</span> ，<div class="ex-box">- const classList=['class01','class02']<br>
＊1：div(class=classList class="class03") 使用array帶入<br>
＊2：div(class=classList[0] class="class03") 可以選取陣列第幾個<br>
＊3：div.c01.c02#idDiv(class='class01 class02') 可以累加</div>＊style <div class="ex-box">div(style={color: 'red', background: 'green'}) STYLE測試<br>
- const myStyle={color: 'red', background: 'green'}<br>
div(style=myStyle) STYLE測試</div>＊img<div class="ex-box">img(src="/img/icon_file.png", alt="我是圖片喔")<br>
- let myImg = { "src":"/img/icon_file.png","alt":"我是圖片喔" }<br>
img&attributes(myImg)</div>＊input<div class="ex-box">input(type="text", name="inputName" disabled=false)<br>
這裡 disabled 可以下false 或 true 做開關</div>＊attributes<div class="ex-box">-const aniAttr={'data-aos': 'fade-up','data-aos-duration':'1500','data-aos-easing':'ease-in-out','data-aos-anchor-placement':'top-center'}
#box&attributes(aniAtt)<br>
添加attr屬性</div>＊可以在屬性裡面加判斷是更改屬性質<div class="ex-box">div(class=`${ 3 > 2 ? "c01" : "c02"}` data-js=`${ 1 > 2 ? "OK!" : "Not Ok!"}`)<br>
產生 div class="c01" data-js="Not Ok!"</div>＊帶入mixin 屬性加入data帶入字串<div class="ex-box">img(src="img/"+`${data.img}`, alt="")</div></div></div><div class="pug-box"><div class="pug-nuit">Unit 3 - For Each loop</div><div class="pug-txt">＊ 迴圈<div class="ex-box">each n in ['a','b','c']<br>
	p 10 <span>//這樣的話會是固定內容10 並跑陣列長度，這樣的話是陣列長度三 所以跑三個 p> 10 /p></span><br>
	p= n <span>//這樣會跑陣列裡面的值</span><br>
	p.a 123 <span>//可以帶上class</span><br>
	p.b= n<br>
	<br>
each n, i in ['a','b','c']<br>
	p= i+'-'+n <span>//使用i 可以讀取陣列KEY n = 內容值 i = 序號</span></div>＊ 可以把陣列拆出來宣告<div class="ex-box">一、<br>
-const nameList=['amy','john','mark']<br>
each n, i in nameList<br>
	p= (i+1)+'號：'+ n <span>//可以用計算讓內容改變</span><br>
<br>
二、<br>
-const fruitList= {'蘋果':'10', '香蕉':'20', '橘子':'30'}<br>
each n, i in fruitList<br>
	p= i+'：'+n+'元'<br>
<br>
三、<br>
-const fruitAreaList= {'台北':{'蘋果':'10'},'台中':{'香蕉':'20'},'高雄':{'橘子':'30'}}<br>
each n, i in fruitAreaList<br>
	p= i //-台北<br>
	//- 這裡宣告帶入的是 fruitAreaList的 i (key)<br>
	-const area = i<br>
	//- 這裡的 n 是上層的fruitAreaList的 n (val)<br>
	each v ,i in n<br>
		p= i //- 10<br>
		p= v //- 蘋果<br>
		p= area+'：'+i+'賣'+v+'元'<br>
<span>
	註(最後物件each法)：因為pug只能each兩種key, val 所以在第一個each出val會只有{ object,object }<br>
	再將上一層的key帶入一個變數，在each 一次這個val 就可以出 key 和 val ， 上層帶入變數也可以使用
<span>
<br></div>＊ 也有判斷式<div class="ex-box">for n, i in ['aaa']<br>
	p= n+'-'+i<br>
else<br>
	srtrong 沒有值在內喔！<br>
<span>//如果陣列裡面沒有值，就會跑else內容</span></div></div></div><div class="pug-box"><div class="pug-nuit">Unit 4 - 判斷式</div><div class="pug-txt">＊ 判斷如果物件條件過了才會顯示
＊ 單組<div class="ex-box">- const user={ name:'simple', login: false, lastLogin:'8'};<br>
if user.login<br>
	p Hello～<br>
		strong # { user.name }<br>
else if user.lastLogin < 10<br>
	p 距離你上次登入時間為：# { user.lastLogin }<br>
	p 請重新登入<br>
		a(href="##") 登入<br>
else<br>
	a(href="###") 請登入<br></div>＊ 多組 可以用each 去編織 但是代數users 要改為n<div class="ex-box">- const users=[{ name:'simple', login: false, lastLogin:'8'},{ name:'toast', login: true, lastLogin:'8'}]<br>
each n in users<br>
	p= n.name<br>
	if n.login<br>
		p Hello～<br>
			strong # { n.name }<br>
	else if n.lastLogin < 10<br>
		p 距離你上次登入時間為：# { n.lastLogin }<br>
		p 請重新登入<br>
			a(href="##") 登入<br>
	else<br>
		a(href="###") 請登入</div></div></div><div class="pug-box"><div class="pug-nuit">Unit 5 - case條件</div><div class="pug-txt">＊ const 為單一宣告，let 為 function 內宣告在 function內才有用<br>
＊ 單一條件判斷顯示<div class="ex-box">＊ 條件備註：Pending , InTransit , Compelet
- const orderStatus ='Pending';
case orderStatus
	when 'Pending'
		p 你的餐點正在準備！
	when 'InTransit'
		p 你的餐點正在送往的路上！
	when 'Compelet'
		p 你的餐點已經到達！
	default
		p 抱歉！我們沒有您的定單通知！</div></div></div><div class="pug-box"><div class="pug-nuit">Unit 6 - include共用文件</div><div class="pug-txt">＊ 直接新增一個pug檔案，在inculde後面加上檔名就可以了。<div class="ex-box">include includes/nav <span>(檔案路徑)</span></div></div></div><div class="pug-box"><div class="pug-nuit">Unit 7 - 組件Mixins</div><div class="pug-txt">＊ Mixins用法，開另外一個檔案裡面寫入設定共用方式 再用json宣告寫入內容<br>
＊ Mixins 文黨在文件最上方載入<br>
＊ 詳見mixin.jade<div class="mail-box"><div class="mail-tit">我是標題</div><div class="mail-txt">我是內文<div class="mail-date">2020/03/26</div></div></div><div class="mail-box"><div class="mail-tit">我是標題</div><div class="mail-txt">我是內文<div class="mail-date">2020/03/26</div></div></div><div class="mail-box"><div class="mail-tit">我是標題2</div><div class="mail-txt">我是內文2<div class="mail-date">2020/03/27</div></div></div>＊ 也可以使用陣列物件json，另可加入判斷式 顯示使否要的div<div class="mail-box"><div class="mail-tag">new</div><div class="mail-tit">我是標題</div><div class="mail-txt">我是內文<div class="mail-date">2020/03/26</div></div></div><div class="mail-box"><div class="mail-tit">我是標題2</div><div class="mail-txt">我是內文2<div class="mail-date">2020/03/27</div></div></div></div></div><div class="test-class" id="testId" style="color:red;"><script>var $div11='<div>122211</div>';
$('#testId').append($div11);
var a =1;</script>試試看<a herf="###" style="color:red;background:green;">點我看連結</a><a href="###" style="color:#ff0000;text-align:center;">我是測試連結二</a><div><p>This text belongs to the paragraph tag.<br>
This text belongs to the div tag.</p></div><div class="class01 class02 class03">測試</div><div class="class01 class03">測試</div><div class="c01 c02 class01 class02" id="idDiv">測試</div></div></body></html>
