pug/shop_cont.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="伯朗咖啡"/><meta name="Copyright" content="© 2022"/><meta property="og:title" content="伯朗咖啡"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="伯朗咖啡"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><meta name="format-detection" content="telephone=no"/><title>伯朗咖啡</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><link rel="stylesheet" href="css/aos.css"/><script src="js/aos.js"></script><script src="js/gsap.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/aos.css"/><link rel="stylesheet" href="css/sty.css"/><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/><script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script></head><body><div class="mask" id="mask"></div><div class="nav-area-bg" id="navAreaBg"></div><div class="nav-area page" id="navArea"><nav><a class="logo" href="index.html"><h1>伯朗咖啡</h1></a><div class="nav-btn-box"><div class="tit hover" id="navTit1"><span class="zh">探索伯朗</span><span class="en">About</span></div><div class="tit hover" id="navTit2"><span class="zh">懂你的咖啡</span><span class="en">Our Coffee</span></div><div class="tit hover" id="navTit3"><span class="zh">咖啡生活</span><span class="en">Life Style</span></div><div class="tit hover" id="navTit4"><span class="zh">最新消息</span><span class="en">Latest News</span></div><a class="tit" href="###"><span class="lan">EN</span></a><div class="nav-mouse-area" id="navMouseArea"><div class="nav-social-box" id="navSocialBox"><a class="nav-social" href="###" target="_blank"><img src="img/ns_fb.svg" alt=""/></a><a class="nav-social" href="###" target="_blank"><img src="img/ns_ig.svg" alt=""/></a><a class="nav-social" href="###" target="_blank"><img src="img/ns_yt.svg" alt=""/></a></div><div class="nav-mouse-box"><div class="title">探索伯朗</div><div class="nav-mouse-link-box" id="navSub1"><div class="nav-sub-btn"><a href="about.html#a1" id="navAbout1">品牌精神</a></div><div class="nav-sub-btn"><a href="about.html#a2" id="navAbout2">不妥協的品質</a></div><div class="nav-sub-btn"><a href="about.html#a3" id="navAbout3">伯朗大事紀</a></div><div class="nav-sub-btn"><a href="about.html#a4" id="navAbout4">永續發展</a></div></div></div><div class="nav-mouse-box"><div class="title">懂你的咖啡</div><div class="nav-mouse-link-box" id="navSub2"><div class="nav-sub-btn"><a href="shop_list.html">即飲系列</a></div><div class="nav-sub-btn"><a href="###">寶特系列</a></div><div class="nav-sub-btn"><a href="###">濾掛系列</a></div><div class="nav-sub-btn"><a href="###">咖啡豆系列</a></div><div class="nav-sub-btn"><a href="###">沖調系列</a></div></div></div><div class="nav-mouse-box"><div class="title">咖啡生活</div><div class="nav-mouse-link-box" id="navSub3"><div class="nav-sub-btn"><a href="lifestyle_list.html">咖啡知識</a></div><div class="nav-sub-btn"><a href="###">啡嚐享趣</a></div></div></div><div class="nav-mouse-box"><div class="title">最新消息</div><div class="nav-mouse-link-box" id="navSub4"><div class="nav-sub-btn"><a href="video_list.html">活動影音專區</a></div><div class="nav-sub-btn"><a href="news_list.html">品牌快訊</a></div></div></div><div class="nav-mouse-box"><div class="title">EN</div></div></div></div><div class="ham-box"><div class="mb-txt">Meun</div><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div></nav></div><!-- 手機版nav--><div class="mb-nav-bg" id="mbNavBg"></div><div class="mb-nav-area"><div class="mb-nav-top"><div class="logo-box"><div class="logo"><img class="ani-item" src="img/mb_nav_logo.svg" alt=""/></div></div><button class="hamburger hamburger--squeeze" type="button" id="hamCloseBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="mb-nav"><div class="mb-nav-cont-top"><div class="mb-nav-cont"><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">探索伯朗</div><div class="arrow-box"> <span>ABOUT</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="about.html#a1" id="mbAbout1">品牌精神</a></div><div class="item"><a href="about.html#a2" id="mbAbout2">不妥協的品質</a></div><div class="item"><a href="about.html#a3" id="mbAbout3">伯朗大事紀</a></div><div class="item"><a href="about.html#a4" id="mbAbout4">永續發展</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">懂你的咖啡</div><div class="arrow-box"> <span>OUR COFFEE</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="shop_list.html">即飲系列</a></div><div class="item"><a href="###">寶特系列</a></div><div class="item"><a href="###">濾掛系列</a></div><div class="item"><a href="###">咖啡豆系列</a></div><div class="item"><a href="###">沖調系列</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">咖啡生活</div><div class="arrow-box"> <span>LIFE STYLE</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="lifestyle_list.html">咖啡知識</a></div><div class="item"><a href="###">啡嚐享趣</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">最新消息</div><div class="arrow-box"> <span>LATEAT NEWS</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="###">活動影音專區</a></div><div class="item"><a href="news_list.html">品牌快訊</a></div></div></div></div><div class="mb-social-area"><div class="mb-social-cover"><div class="mb-social-cont ani-item"><a href="###">EN</a><div class="mb-social-box"><a class="box" href="###" target="_blank"><i class="fab fa-facebook-square"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-instagram"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-youtube"></i></a></div></div></div></div></div><div class="mb-copyright-box"><div class="mb-copyright ani-item">COPYRIGHT © KING CAR GROUP. 2022</div></div></div></div><div class="main-area"><div class="shop-banner-area"><div class="shop-banner-cont"><div class="shop-banner-img"><div class="shop-banner-item"><div class="icon-new">New</div><div class="circle" id="shopCircle"></div><img src="img/main_coffee.png" alt=""/></div></div><div class="shop-banner-info"><div class="tit-box"><div class="en"><img src="img/shop_rtd.svg" alt=""/></div><div class="tit">印尼弗洛勒斯</div></div><div class="info-box"><div class="pc-en"><img src="img/shop_pro_en_n.svg" alt=""/></div><div class="mb-en-txt">Flores Black</div><div class="mb-en"><img src="img/shop_mb_en.svg" alt=""/></div><div class="txt">嚴選印尼弗洛勒斯產區豆種，<br>豐沃的火山土壤孕育獨特風味的咖啡豆。</div></div></div></div></div><div class="coffee-hr-box mb-show"><div class="circle-hr-box"><img class="circle" src="img/circle.svg" alt=""/><img class="dot" src="img/circle_dot.svg" alt=""/></div></div><div class="main-cont"><section class="shop-cont-area"><div class="shop-page-info-area"><div class="shop-page-info-tit"><h2 class="tit">產地<br>與種類</h2><div class="en">Sourcing And<br>Processing</div></div><div class="shop-page-info-cont edit-area"><img class="shop-def" src="img/shop01.jpg" alt=""/><p class="shop-def">嚴選印尼弗洛勒斯產區豆種，豐沃的火山土壤孕育獨特風味的咖啡豆。使用冷萃技術，降低咖啡酸度苦澀，擁有清新花香，尾韻帶有木質巧克力氣息，口感溫和適中。產品風味經由國際咖啡品質鑑定學會(CQI)認證的杯測鑑定師團隊專業研發。</p><img class="shop-def" src="img/shop02.jpg" alt=""/><p class="shop-def">嚴選印尼弗洛勒斯產區豆種，豐沃的火山土壤孕育獨特風味的咖啡豆。使用冷萃技術，降低咖啡酸度苦澀，擁有清新花香，尾韻帶有木質巧克力氣息，口感溫和適中。產品風味經由國際咖啡品質鑑定學會(CQI)認證的杯測鑑定師團隊專業研發。</p></div></div><div class="page-btn-box"><a class="prev" href="###"><div class="arr"></div><span>上一篇</span></a><a class="back" href="shop_list.html"><i class="fal fa-angle-left"></i> 返回列表</a><a class="next" href="###"><span>下一篇</span><div class="arr"></div></a></div><div class="coffee-hr-box"><div class="circle-hr-box"><img class="circle" src="img/circle.svg" alt=""/><img class="dot" src="img/circle_dot.svg" alt=""/></div></div></section><section class="item-bottom-area"><div class="m-tit-box"><div class="m-tit"><h2>其他商品</h2><div class="sup"><span>Other Series</span></div></div></div><div class="item-page-cube-area"><div class="page-btn prve" id="itemPrev"><i class="fal fa-angle-left"></i></div><div class="item-page-cube-group"><div class="item-page-cube-cont item" id="cube1"><div class="item-page-cube-box"><div class="item-page-cube-img"><div class="icon-new">New</div><div class="item-img"><img src="img/coffee01.png" alt=""/></div></div><div class="item-page-cube-name" id="cubeName1"><div class="name">印尼弗洛勒斯</div><a href="###">暸解更多<i class="fal fa-chevron-right"></i></a></div></div><div class="item-page-cube-info-box"><div class="cont item-scroll" id="cubeCont1">選用100%的阿拉比卡咖啡豆萃取而成，無添加香料最佳原味。</div><div class="arr-box"><a href="###">暸解更多<i class="fal fa-chevron-right"></i></a></div></div></div><div class="item-page-cube-cont item" id="cube2"><div class="item-page-cube-box"><div class="item-page-cube-img"><div class="icon-new">New</div><div class="item-img"><img src="img/coffee02.png" alt=""/></div></div><div class="item-page-cube-name" id="cubeName2"><div class="name">印尼弗洛勒斯</div><a href="###">暸解更多<i class="fal fa-chevron-right"></i></a></div></div><div class="item-page-cube-info-box"><div class="cont item-scroll" id="cubeCont2">選用100%的阿拉比卡咖啡豆萃取而成，無添加香料最佳原味。</div><div class="arr-box"><a href="###">暸解更多<i class="fal fa-chevron-right"></i></a></div></div></div><div class="item-page-cube-cont item" id="cube3"><div class="item-page-cube-box"><div class="item-page-cube-img"><div class="icon-new">New</div><div class="item-img"><img src="img/coffee03.png" alt=""/></div></div><div class="item-page-cube-name" id="cubeName3"><div class="name">印尼弗洛勒斯</div><a href="###">暸解更多<i class="fal fa-chevron-right"></i></a></div></div><div class="item-page-cube-info-box"><div class="cont item-scroll" id="cubeCont3">選用100%的阿拉比卡咖啡豆萃取而成，無添加香料最佳原味。</div><div class="arr-box"><a href="###">暸解更多<i class="fal fa-chevron-right"></i></a></div></div></div></div><!-- 手機--><div class="swiper item-page-cube-mb-group" id="swiperItem"><div class="swiper-wrapper"><div class="swiper-slide"><div class="item-page-cube-mb-box"><div class="item-page-cube-mb-img-box"><div class="icon-new">New</div><div class="item-page-cube-mb-img"><img src="img/coffee01.png" alt=""/></div></div><div class="item-page-cube-mb-info-box"><div class="tit item-mb-tit" id="cubeMbTit1"><div class="en">Black Coffee</div><div class="zh">醇黑咖啡</div></div><div class="arr-box"><a href="###">暸解更多 <i class="fal fa-chevron-right"></i></a></div></div></div></div><div class="swiper-slide"><div class="item-page-cube-mb-box"><div class="item-page-cube-mb-img-box"><div class="icon-new">New</div><div class="item-page-cube-mb-img"><img src="img/coffee02.png" alt=""/></div></div><div class="item-page-cube-mb-info-box"><div class="tit item-mb-tit" id="cubeMbTit2"><div class="en">Black Coffee</div><div class="zh">醇黑咖啡</div></div><div class="arr-box"><a href="###">暸解更多 <i class="fal fa-chevron-right"></i></a></div></div></div></div><div class="swiper-slide"><div class="item-page-cube-mb-box"><div class="item-page-cube-mb-img-box"><div class="icon-new">New</div><div class="item-page-cube-mb-img"><img src="img/coffee03.png" alt=""/></div></div><div class="item-page-cube-mb-info-box"><div class="tit item-mb-tit" id="cubeMbTit3"><div class="en">Black Coffee</div><div class="zh">醇黑咖啡</div></div><div class="arr-box"><a href="###">暸解更多 <i class="fal fa-chevron-right"></i></a></div></div></div></div></div></div><div class="page-btn next" id="itemNext"><i class="fal fa-angle-right"></i></div></div></section></div></div><div class="footer-area"><div class="social-side-area" id="socialSide"><div class="social-side-box"><a class="box" href="###" target="_blank"><i class="fab fa-facebook-square"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-instagram"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-youtube"></i></a></div><div class="arr-circle"><i class="fal fa-angle-down"></i></div></div><footer><div class="f-logo"><img src="img/logo_f.svg" alt=""/></div><div class="footer-link-area"><div class="footer-link-box"><div class="footer-link"><div class="tit fc"><span>探索伯朗</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="about.html#a1" id="fabout1">品牌精神</a></li><li><a href="about.html#a2" id="fabout2">不妥協的品質</a></li><li><a href="about.html#a3" id="fabout3">伯朗大事紀</a></li><li><a href="about.html#a4" id="fabout4">永續發展</a></li></ul></div><div class="footer-link"><div class="tit fc"><span>最新消息</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="news_list.html">品牌快訊</a></li><li><a href="###">影音專區</a></li></ul></div><div class="footer-link"><div class="tit fc"><span>友站連結</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="###">金車線上購</a></li><li><a href="###">伯朗咖啡館</a></li><li><a href="###">金車集團</a></li></ul></div><div class="footer-link"><div class="tit"><a href="contact.html">聯絡我們</a><div class="icon icongo"></div></div><ul class="link"><li><span>TEL  0800-231-136</span></li><li><span>FAX  (02)2368-8128</span></li><li><span>M-F  9:00am - 17:30pm</span></li></ul></div><div class="mb-footer-info"><span>TEL  0800-231-136</span><span>FAX  (02)2368-8128</span><span>M-F  9:00am - 17:30pm   </span></div></div><div class="footer-social-area"><div class="gotop" id="goTopBtn"><i class="fal fa-angle-up"></i><div class="txt">GO TOP</div></div><div class="mb-footer-social-box"><div class="social"><a href="###" target="_blank"><img src="img/icon_fb.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_ig.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_yt.svg" alt=""/></a></div><a class="privacy" href="privacy.html" target="_blank">隱私權政策</a></div></div></div><div class="footer-social-box"><a class="privacy" href="privacy.html" target="_blank">隱私權政策</a><a href="###" target="_blank"><img src="img/icon_fb.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_ig.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_yt.svg" alt=""/></a></div><div class="copyright">COPYRIGHT © KING CAR GROUP. 2022<br/> ALL RIGHTS RESERVED</div></footer></div></body></html><script>$(document).ready(function(){
	//=== banner 進場 ===
	$('#shopCircle').addClass('on');

	//=== 底部商品介紹 ===
	$('#cube1').addClass('act');
	$('#cubeCont1').mCustomScrollbar();
	$('#cube2,#cube3').addClass('move');
	//= 文區塊進場 =
	gsap.to('#cubeCont1', {
		top: 0,
		opacity: 1,
		ease: "power1.out",
		duration: 0.5,
		delay: 0.2
	});
	var itemSlideList=[
		{'id':'1','remove':['cube2','cube3']},
		{'id':'2','remove':['cube3']},
		{'id':'3','remove':[]},
	];
	$.each(itemSlideList,function(ind,val){
		var $actItem=$('#cube'+val.id);
		$actItem.on('mouseenter',function(){//click
			var hasAct=$actItem.hasClass('act');
			if(!hasAct){
				$('.item').removeClass('act');
				$actItem.addClass('act');
				$('.item').removeClass('move');
				//= 偏移取消 =
				if(val.remove){
					$.each(val.remove,function(i,c){
						$('#'+c).addClass('move');
					});
				}
				//= 文區塊取消 =
				$('.item-scroll').removeAttr('style');
				$('.item-scroll').mCustomScrollbar("destroy");
				$('#cubeCont'+val.id).mCustomScrollbar();
				//= 文區塊進場 =
				gsap.to('#cubeCont'+val.id, {
					top: 0,
					opacity: 1,
					ease: "power1.out",
					duration: 0.5,
					delay: 0.2
				});
			}
		});
	});

	//- $('#cube1').on('click',function(){
	//- 	$('.item').removeClass('act');
	//- 	$(this).addClass('act');
	//- 	$('.item').removeClass('move');
	//- 	$('#cube2,#cube3').addClass('move');
	//- 	//= 圖文區塊進場 =
	//- 	gsap.to('#cubeCont1', {
	//- 		top: 0,
	//- 		opacity: 1,
	//- 		ease: "power1.out",
	//- 		duration: 0.5,
	//- 		delay: 0.2
	//- 	});
	//- });
	//- $('#cube2').on('click',function(){
	//- 	$('.item').removeClass('act');
	//- 	$(this).addClass('act');
	//- 	$('.item').removeClass('move');
	//- 	$('#cube3').addClass('move');
		
	//- 	$('#cubeCont1').removeAttr('style');
	//- });
	//- $('#cube3').on('click',function(){
	//- 	$('.item').removeClass('act');
	//- 	$(this).addClass('act');
	//- 	$('.item').removeClass('move');
	//- });
	//- $(".item-scroll").mCustomScrollbar();

	var swiperItem = new Swiper('#swiperItem', {
		spaceBetween: 30,
		slidesPerView: 1,
		navigation: {
			nextEl: "#itemNext",
			prevEl: "#itemPrev",
		},
	});
});</script>

pug/shop_cont.pug
include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area
			.shop-banner-area
				.shop-banner-cont
					.shop-banner-img
						.shop-banner-item
							.icon-new New
							.circle#shopCircle
							img(src="img/main_coffee.png", alt="")
							//- img(src="img/shop_img.png", alt="")
					.shop-banner-info
						.tit-box
							.en
								img(src="img/shop_rtd.svg", alt="")
								//- Ready to Drink
							.tit 印尼弗洛勒斯
						.info-box
							.pc-en
								img(src="img/shop_pro_en_n.svg", alt="")
							.mb-en-txt Flores Black
							.mb-en
								img(src="img/shop_mb_en.svg", alt="")
							.txt 嚴選印尼弗洛勒斯產區豆種，<br>豐沃的火山土壤孕育獨特風味的咖啡豆。
			+coffeeHrMb
			.main-cont
				section.shop-cont-area
					//- .shop-banner-cont
					//- 	.shop-banner-img
					//- 		.shop-banner-item
					//- 			.icon-new New
					//- 			.circle#shopCircle
					//- 			img(src="img/shop_img.png", alt="")
					//- 	.shop-banner-info
					//- 		.tit-box
					//- 			.en Ready to Drink
					//- 			.tit 印尼弗洛勒斯
					//- 		.info-box
					//- 			.en Flores Black
					//- 			.txt 嚴選印尼弗洛勒斯產區豆種，<br>豐沃的火山土壤孕育獨特風味的咖啡豆。
					.shop-page-info-area
						.shop-page-info-tit
							h2.tit 產地<br>與種類
							.en Sourcing And<br>Processing
						.shop-page-info-cont.edit-area
							img.shop-def(src="img/shop01.jpg", alt="")
							p.shop-def 嚴選印尼弗洛勒斯產區豆種，豐沃的火山土壤孕育獨特風味的咖啡豆。使用冷萃技術，降低咖啡酸度苦澀，擁有清新花香，尾韻帶有木質巧克力氣息，口感溫和適中。產品風味經由國際咖啡品質鑑定學會(CQI)認證的杯測鑑定師團隊專業研發。
							img.shop-def(src="img/shop02.jpg", alt="")
							p.shop-def 嚴選印尼弗洛勒斯產區豆種，豐沃的火山土壤孕育獨特風味的咖啡豆。使用冷萃技術，降低咖啡酸度苦澀，擁有清新花香，尾韻帶有木質巧克力氣息，口感溫和適中。產品風味經由國際咖啡品質鑑定學會(CQI)認證的杯測鑑定師團隊專業研發。
					.page-btn-box
						//- a(href="###").prev <i class="fal fa-angle-left"></i> 上一篇
						a(href="###").prev
							.arr
							span 上一篇
						a(href="shop_list.html").back <i class="fal fa-angle-left"></i> 返回列表
						a(href="###").next
							span 下一篇
							.arr
						//- a(href="###").next 下一篇 <i class="fal fa-angle-right"></i>
					//- +coffeeHrMb
					+coffeeHr
				section.item-bottom-area
					.m-tit-box
						.m-tit
							h2 其他商品
							.sup
								span Other Series
					.item-page-cube-area
						.page-btn.prve#itemPrev <i class="fal fa-angle-left"></i>
						.item-page-cube-group
							-const cubeItem01={'id':'1','isNew':true,'img':'coffee01.png','name':'印尼弗洛勒斯','cont':'選用100%的阿拉比卡咖啡豆萃取而成，無添加香料最佳原味。','en':'Black Coffee','zh':'醇黑咖啡'};
							-const cubeItem02={'id':'2','isNew':true,'img':'coffee02.png','name':'印尼弗洛勒斯','cont':'選用100%的阿拉比卡咖啡豆萃取而成，無添加香料最佳原味。','en':'Black Coffee','zh':'醇黑咖啡'};
							-const cubeItem03={'id':'3','isNew':true,'img':'coffee03.png','name':'印尼弗洛勒斯','cont':'選用100%的阿拉比卡咖啡豆萃取而成，無添加香料最佳原味。','en':'Black Coffee','zh':'醇黑咖啡'};
							+itemPageCubeCont(cubeItem01)
							+itemPageCubeCont(cubeItem02)
							+itemPageCubeCont(cubeItem03)
							//- .item-page-cube-cont.item#slide1
							//- 	.item-page-cube-box
							//- 		.item-page-cube-img
							//- 			.icon-new New
							//- 			.item-img
							//- 				img(src="img/coffee01.png", alt="")
							//- 		.item-page-cube-name#slideName1
							//- 			.name 印尼弗洛勒斯
							//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
							//- 	.item-page-cube-info-box
							//- 		.cont.item-scroll#slideCont1 選用100%阿拉比卡咖啡豆萃取而成，無添加香料的最佳原味。
							//- 		.arr-box
							//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
							//- .item-page-cube-cont.item#slide2
							//- 	.item-page-cube-box
							//- 		.item-page-cube-img
							//- 			.icon-new New
							//- 			.item-img
							//- 				img(src="img/coffee02.png", alt="")
							//- 		.item-page-cube-name
							//- 			.name 印尼弗洛勒斯
							//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
							//- 	.item-page-cube-info-box
							//- 		.cont.item-scroll#slideCont2 選用100%阿拉比卡咖啡豆萃取而成，無添加香料的最佳原味。
							//- 		.arr-box
							//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
							//- .item-page-cube-cont.item#slide3
							//- 	.item-page-cube-box
							//- 		.item-page-cube-img
							//- 			.icon-new New
							//- 			.item-img
							//- 				img(src="img/coffee03.png", alt="")
							//- 		.item-page-cube-name
							//- 			.name 印尼弗洛勒斯
							//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
							//- 	.item-page-cube-info-box
							//- 		.cont.item-scroll#slideCont3 選用100%阿拉比卡咖啡豆萃取而成，無添加香料的最佳原味。
							//- 		.arr-box
							//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
						// 手機
						.swiper.item-page-cube-mb-group#swiperItem
							.swiper-wrapper
								.swiper-slide
									+itemPageCubeMbBox(cubeItem01)
								.swiper-slide
									+itemPageCubeMbBox(cubeItem02)
								.swiper-slide
									+itemPageCubeMbBox(cubeItem03)
									//- .item-page-cube-mb-box
									//- 	.item-page-cube-mb-img-box
									//- 		.icon-new New
									//- 		.item-page-cube-mb-img
									//- 			img(src="img/coffee01.png", alt="")
									//- 	.item-page-cube-mb-info-box
									//- 		.tit.item-mb-tit#itemMbTit1
									//- 			.en Black Coffee
									//- 			.zh 醇黑咖啡
									//- 		.arr-box
									//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
						.page-btn.next#itemNext <i class="fal fa-angle-right"></i>
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		//=== banner 進場 ===
		$('#shopCircle').addClass('on');

		//=== 底部商品介紹 ===
		$('#cube1').addClass('act');
		$('#cubeCont1').mCustomScrollbar();
		$('#cube2,#cube3').addClass('move');
		//= 文區塊進場 =
		gsap.to('#cubeCont1', {
			top: 0,
			opacity: 1,
			ease: "power1.out",
			duration: 0.5,
			delay: 0.2
		});
		var itemSlideList=[
			{'id':'1','remove':['cube2','cube3']},
			{'id':'2','remove':['cube3']},
			{'id':'3','remove':[]},
		];
		$.each(itemSlideList,function(ind,val){
			var $actItem=$('#cube'+val.id);
			$actItem.on('mouseenter',function(){//click
				var hasAct=$actItem.hasClass('act');
				if(!hasAct){
					$('.item').removeClass('act');
					$actItem.addClass('act');
					$('.item').removeClass('move');
					//= 偏移取消 =
					if(val.remove){
						$.each(val.remove,function(i,c){
							$('#'+c).addClass('move');
						});
					}
					//= 文區塊取消 =
					$('.item-scroll').removeAttr('style');
					$('.item-scroll').mCustomScrollbar("destroy");
					$('#cubeCont'+val.id).mCustomScrollbar();
					//= 文區塊進場 =
					gsap.to('#cubeCont'+val.id, {
						top: 0,
						opacity: 1,
						ease: "power1.out",
						duration: 0.5,
						delay: 0.2
					});
				}
			});
		});

		//- $('#cube1').on('click',function(){
		//- 	$('.item').removeClass('act');
		//- 	$(this).addClass('act');
		//- 	$('.item').removeClass('move');
		//- 	$('#cube2,#cube3').addClass('move');
		//- 	//= 圖文區塊進場 =
		//- 	gsap.to('#cubeCont1', {
		//- 		top: 0,
		//- 		opacity: 1,
		//- 		ease: "power1.out",
		//- 		duration: 0.5,
		//- 		delay: 0.2
		//- 	});
		//- });
		//- $('#cube2').on('click',function(){
		//- 	$('.item').removeClass('act');
		//- 	$(this).addClass('act');
		//- 	$('.item').removeClass('move');
		//- 	$('#cube3').addClass('move');
			
		//- 	$('#cubeCont1').removeAttr('style');
		//- });
		//- $('#cube3').on('click',function(){
		//- 	$('.item').removeClass('act');
		//- 	$(this).addClass('act');
		//- 	$('.item').removeClass('move');
		//- });
		//- $(".item-scroll").mCustomScrollbar();

		var swiperItem = new Swiper('#swiperItem', {
			spaceBetween: 30,
			slidesPerView: 1,
			navigation: {
				nextEl: "#itemNext",
				prevEl: "#itemPrev",
			},
		});
	});
	
