pug/shop_list.pug
include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area.shop-area
			.main-cont
				section.list-page-area
					.m-tit-box
						.m-tit.inn
							h2 即飲系列
							.sup
								span Ready to Drink
						.shop-class-box.pc
							a(href="###").item.act 即飲系列
							a(href="###").item 寶特系列
							a(href="###").item 濾掛系列
							a(href="###").item 咖啡豆系列
							a(href="###").item 沖調系列
						-const selectMbBox={'tit':'即飲系列','itemList':[{'url':'###','name':'即飲系列'},{'url':'###','name':'寶特系列'},{'url':'###','name':'濾掛系列'},{'url':'###','name':'咖啡豆系列'},{'url':'###','name':'沖調系列'}]}
						+selectMbBox(selectMbBox)
					.shop-list
						-const shopItemBox={};
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
				+coffeeHr
				.ind-bot-banner-box
				//- section.item-bottom-area
				//- 	.m-tit-box
				//- 		.m-tit
				//- 			h2 其他系列
				//- 			.sup
				//- 				span Other Series
				//- 	.item-cube-area.item-page-cube-area
				//- 			.swiper-button-prev#itemPrev <i class="fal fa-angle-left"></i>
				//- 			.swiper.item-cube-group#swiperItem
				//- 				.swiper-wrapper
				//- 					.swiper-slide
				//- 						-const itemCubeBox01={'img':'coffee01.png','isnew': true ,'tit':'印尼弗洛勒斯','link':'###'};
				//- 						+itemPageCubeBox(itemCubeBox01)
				//- 					.swiper-slide
				//- 						-const itemCubeBox02={'img':'coffee02.png','tit':'巴西聖多士','link':'###'};
				//- 						+itemPageCubeBox(itemCubeBox02)
				//- 					.swiper-slide
				//- 						-const itemCubeBox03={'img':'coffee03.png','tit':'哥倫比亞','link':'###'};
				//- 						+itemPageCubeBox(itemCubeBox03)
				//- 					.swiper-slide
				//- 						+itemPageCubeBox(itemCubeBox03)
				//- 			.swiper-button-next#itemNext <i class="fal fa-angle-right"></i>
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		//=== 手機下拉單 ===
		$('#selectMbBox').on('click',function(){
			var $list=$('#selectMbList');
			var isAct=$list.is(':visible');
			isAct ? $list.removeClass('on') : $list.addClass('on');
			//- isAct ? $list.slideUp() : $list.slideDown();
		});

		//=== 商品進場 ===
		AOS.init({
			easing: 'ease-in-out',
			duration: 1000,
			once: true,
			anchorPlacement: 'center-bottom',
		});

		//=== 其他 ===
		//- var swiperItem = new Swiper('#swiperItem', {
		//- 	spaceBetween: 30,
		//- 	slidesPerView: 3,
		//- 	centeredSlides: false,
		//- 	navigation: {
		//- 		nextEl: "#itemNext",
		//- 		prevEl: "#itemPrev",
		//- 	},
		//- 	breakpoints: {
		//- 		767: {
		//- 			slidesPerView: 1.3,
		//- 			centeredSlides: true,
		//- 		},
		//- 		480:{
		//- 			slidesPerView: 1.3,
		//- 			centeredSlides: true,
		//- 			spaceBetween: 15,
		//- 		}
		//- 	},
		//- 	//- autoHeight: true,//讓外層高隨不同slide內容改變高度 不會有多餘的空白
		//- });
	});

pug/shop_list.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="伯朗咖啡"/><meta name="Copyright" content="© 2022"/><meta property="og:title" content="伯朗咖啡"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="伯朗咖啡"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><meta name="format-detection" content="telephone=no"/><title>伯朗咖啡</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><link rel="stylesheet" href="css/aos.css"/><script src="js/aos.js"></script><script src="js/gsap.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/aos.css"/><link rel="stylesheet" href="css/sty.css"/><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/><script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script></head><body><div class="mask" id="mask"></div><div class="nav-area-bg" id="navAreaBg"></div><div class="nav-area page" id="navArea"><nav><a class="logo" href="index.html"><h1>伯朗咖啡</h1></a><div class="nav-btn-box"><div class="tit hover" id="navTit1"><span class="zh">探索伯朗</span><span class="en">About</span></div><div class="tit hover" id="navTit2"><span class="zh">懂你的咖啡</span><span class="en">Our Coffee</span></div><div class="tit hover" id="navTit3"><span class="zh">咖啡生活</span><span class="en">Life Style</span></div><div class="tit hover" id="navTit4"><span class="zh">最新消息</span><span class="en">Latest News</span></div><a class="tit" href="###"><span class="lan">EN</span></a><div class="nav-mouse-area" id="navMouseArea"><div class="nav-social-box" id="navSocialBox"><a class="nav-social" href="###" target="_blank"><img src="img/ns_fb.svg" alt=""/></a><a class="nav-social" href="###" target="_blank"><img src="img/ns_ig.svg" alt=""/></a><a class="nav-social" href="###" target="_blank"><img src="img/ns_yt.svg" alt=""/></a></div><div class="nav-mouse-box"><div class="title">探索伯朗</div><div class="nav-mouse-link-box" id="navSub1"><div class="nav-sub-btn"><a href="about.html#a1" id="navAbout1">品牌精神</a></div><div class="nav-sub-btn"><a href="about.html#a2" id="navAbout2">不妥協的品質</a></div><div class="nav-sub-btn"><a href="about.html#a3" id="navAbout3">伯朗大事紀</a></div><div class="nav-sub-btn"><a href="about.html#a4" id="navAbout4">永續發展</a></div></div></div><div class="nav-mouse-box"><div class="title">懂你的咖啡</div><div class="nav-mouse-link-box" id="navSub2"><div class="nav-sub-btn"><a href="shop_list.html">即飲系列</a></div><div class="nav-sub-btn"><a href="###">寶特系列</a></div><div class="nav-sub-btn"><a href="###">濾掛系列</a></div><div class="nav-sub-btn"><a href="###">咖啡豆系列</a></div><div class="nav-sub-btn"><a href="###">沖調系列</a></div></div></div><div class="nav-mouse-box"><div class="title">咖啡生活</div><div class="nav-mouse-link-box" id="navSub3"><div class="nav-sub-btn"><a href="lifestyle_list.html">咖啡知識</a></div><div class="nav-sub-btn"><a href="###">啡嚐享趣</a></div></div></div><div class="nav-mouse-box"><div class="title">最新消息</div><div class="nav-mouse-link-box" id="navSub4"><div class="nav-sub-btn"><a href="video_list.html">活動影音專區</a></div><div class="nav-sub-btn"><a href="news_list.html">品牌快訊</a></div></div></div><div class="nav-mouse-box"><div class="title">EN</div></div></div></div><div class="ham-box"><div class="mb-txt">Meun</div><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div></nav></div><!-- 手機版nav--><div class="mb-nav-bg" id="mbNavBg"></div><div class="mb-nav-area"><div class="mb-nav-top"><div class="logo-box"><div class="logo"><img class="ani-item" src="img/mb_nav_logo.svg" alt=""/></div></div><button class="hamburger hamburger--squeeze" type="button" id="hamCloseBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="mb-nav"><div class="mb-nav-cont-top"><div class="mb-nav-cont"><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">探索伯朗</div><div class="arrow-box"> <span>ABOUT</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="about.html#a1" id="mbAbout1">品牌精神</a></div><div class="item"><a href="about.html#a2" id="mbAbout2">不妥協的品質</a></div><div class="item"><a href="about.html#a3" id="mbAbout3">伯朗大事紀</a></div><div class="item"><a href="about.html#a4" id="mbAbout4">永續發展</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">懂你的咖啡</div><div class="arrow-box"> <span>OUR COFFEE</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="shop_list.html">即飲系列</a></div><div class="item"><a href="###">寶特系列</a></div><div class="item"><a href="###">濾掛系列</a></div><div class="item"><a href="###">咖啡豆系列</a></div><div class="item"><a href="###">沖調系列</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">咖啡生活</div><div class="arrow-box"> <span>LIFE STYLE</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="lifestyle_list.html">咖啡知識</a></div><div class="item"><a href="###">啡嚐享趣</a></div></div></div><div class="mb-nav-cont-cover"><div class="mb-nav-tit-box ani-item"><div class="tit">最新消息</div><div class="arrow-box"> <span>LATEAT NEWS</span><i class="fal fa-angle-down"></i></div></div><div class="mb-nav-sub"><div class="item"><a href="###">活動影音專區</a></div><div class="item"><a href="news_list.html">品牌快訊</a></div></div></div></div><div class="mb-social-area"><div class="mb-social-cover"><div class="mb-social-cont ani-item"><a href="###">EN</a><div class="mb-social-box"><a class="box" href="###" target="_blank"><i class="fab fa-facebook-square"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-instagram"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-youtube"></i></a></div></div></div></div></div><div class="mb-copyright-box"><div class="mb-copyright ani-item">COPYRIGHT © KING CAR GROUP. 2022</div></div></div></div><div class="main-area shop-area"><div class="main-cont"><section class="list-page-area"><div class="m-tit-box"><div class="m-tit inn"><h2>即飲系列</h2><div class="sup"><span>Ready to Drink</span></div></div><div class="shop-class-box pc"><a class="item act" href="###">即飲系列</a><a class="item" href="###">寶特系列</a><a class="item" href="###">濾掛系列</a><a class="item" href="###">咖啡豆系列</a><a class="item" href="###">沖調系列</a></div><div class="select-mb-box" id="selectMbBox"><div class="tit"><span>即飲系列</span><i class="fal fa-angle-down"></i></div><div class="select-list" id="selectMbList"> <a class="item" href="###">即飲系列</a><a class="item" href="###">寶特系列</a><a class="item" href="###">濾掛系列</a><a class="item" href="###">咖啡豆系列</a><a class="item" href="###">沖調系列</a></div></div></div><div class="shop-list"><a class="shop-item-box" href="shop_cont.html" data-aos="fade-zoom-in"><div class="shop-item-img"><div class="bg-circle-box"><div class="bg-circle"></div><div class="icon-new">New</div></div><img src="img/coffee01_n.png" alt=""/></div><div class="shop-item-info-area"><div class="shop-item-tit"><div class="tit">印尼弗洛勒斯</div><div class="en">Flores Black</div></div><div class="shop-item-cont">嚴選印尼弗洛勒斯產區豆種<br>豐沃的火山土壤<br>孕育獨特風味的咖啡豆</div></div></a><a class="shop-item-box" href="shop_cont.html" data-aos="fade-zoom-in"><div class="shop-item-img"><div class="bg-circle-box"><div class="bg-circle"></div><div class="icon-new">New</div></div><img src="img/coffee01_n.png" alt=""/></div><div class="shop-item-info-area"><div class="shop-item-tit"><div class="tit">印尼弗洛勒斯</div><div class="en">Flores Black</div></div><div class="shop-item-cont">嚴選印尼弗洛勒斯產區豆種<br>豐沃的火山土壤<br>孕育獨特風味的咖啡豆</div></div></a><a class="shop-item-box" href="shop_cont.html" data-aos="fade-zoom-in"><div class="shop-item-img"><div class="bg-circle-box"><div class="bg-circle"></div><div class="icon-new">New</div></div><img src="img/coffee01_n.png" alt=""/></div><div class="shop-item-info-area"><div class="shop-item-tit"><div class="tit">印尼弗洛勒斯</div><div class="en">Flores Black</div></div><div class="shop-item-cont">嚴選印尼弗洛勒斯產區豆種<br>豐沃的火山土壤<br>孕育獨特風味的咖啡豆</div></div></a><a class="shop-item-box" href="shop_cont.html" data-aos="fade-zoom-in"><div class="shop-item-img"><div class="bg-circle-box"><div class="bg-circle"></div><div class="icon-new">New</div></div><img src="img/coffee01_n.png" alt=""/></div><div class="shop-item-info-area"><div class="shop-item-tit"><div class="tit">印尼弗洛勒斯</div><div class="en">Flores Black</div></div><div class="shop-item-cont">嚴選印尼弗洛勒斯產區豆種<br>豐沃的火山土壤<br>孕育獨特風味的咖啡豆</div></div></a><a class="shop-item-box" href="shop_cont.html" data-aos="fade-zoom-in"><div class="shop-item-img"><div class="bg-circle-box"><div class="bg-circle"></div><div class="icon-new">New</div></div><img src="img/coffee01_n.png" alt=""/></div><div class="shop-item-info-area"><div class="shop-item-tit"><div class="tit">印尼弗洛勒斯</div><div class="en">Flores Black</div></div><div class="shop-item-cont">嚴選印尼弗洛勒斯產區豆種<br>豐沃的火山土壤<br>孕育獨特風味的咖啡豆</div></div></a><a class="shop-item-box" href="shop_cont.html" data-aos="fade-zoom-in"><div class="shop-item-img"><div class="bg-circle-box"><div class="bg-circle"></div><div class="icon-new">New</div></div><img src="img/coffee01_n.png" alt=""/></div><div class="shop-item-info-area"><div class="shop-item-tit"><div class="tit">印尼弗洛勒斯</div><div class="en">Flores Black</div></div><div class="shop-item-cont">嚴選印尼弗洛勒斯產區豆種<br>豐沃的火山土壤<br>孕育獨特風味的咖啡豆</div></div></a><a class="shop-item-box" href="shop_cont.html" data-aos="fade-zoom-in"><div class="shop-item-img"><div class="bg-circle-box"><div class="bg-circle"></div><div class="icon-new">New</div></div><img src="img/coffee01_n.png" alt=""/></div><div class="shop-item-info-area"><div class="shop-item-tit"><div class="tit">印尼弗洛勒斯</div><div class="en">Flores Black</div></div><div class="shop-item-cont">嚴選印尼弗洛勒斯產區豆種<br>豐沃的火山土壤<br>孕育獨特風味的咖啡豆</div></div></a><a class="shop-item-box" href="shop_cont.html" data-aos="fade-zoom-in"><div class="shop-item-img"><div class="bg-circle-box"><div class="bg-circle"></div><div class="icon-new">New</div></div><img src="img/coffee01_n.png" alt=""/></div><div class="shop-item-info-area"><div class="shop-item-tit"><div class="tit">印尼弗洛勒斯</div><div class="en">Flores Black</div></div><div class="shop-item-cont">嚴選印尼弗洛勒斯產區豆種<br>豐沃的火山土壤<br>孕育獨特風味的咖啡豆</div></div></a><a class="shop-item-box" href="shop_cont.html" data-aos="fade-zoom-in"><div class="shop-item-img"><div class="bg-circle-box"><div class="bg-circle"></div><div class="icon-new">New</div></div><img src="img/coffee01_n.png" alt=""/></div><div class="shop-item-info-area"><div class="shop-item-tit"><div class="tit">印尼弗洛勒斯</div><div class="en">Flores Black</div></div><div class="shop-item-cont">嚴選印尼弗洛勒斯產區豆種<br>豐沃的火山土壤<br>孕育獨特風味的咖啡豆</div></div></a></div></section><div class="coffee-hr-box"><div class="circle-hr-box"><img class="circle" src="img/circle.svg" alt=""/><img class="dot" src="img/circle_dot.svg" alt=""/></div></div><div class="ind-bot-banner-box"></div></div></div><div class="footer-area"><div class="social-side-area" id="socialSide"><div class="social-side-box"><a class="box" href="###" target="_blank"><i class="fab fa-facebook-square"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-instagram"></i></a><a class="box" href="###" target="_blank"><i class="fab fa-youtube"></i></a></div><div class="arr-circle"><i class="fal fa-angle-down"></i></div></div><footer><div class="f-logo"><img src="img/logo_f.svg" alt=""/></div><div class="footer-link-area"><div class="footer-link-box"><div class="footer-link"><div class="tit fc"><span>探索伯朗</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="about.html#a1" id="fabout1">品牌精神</a></li><li><a href="about.html#a2" id="fabout2">不妥協的品質</a></li><li><a href="about.html#a3" id="fabout3">伯朗大事紀</a></li><li><a href="about.html#a4" id="fabout4">永續發展</a></li></ul></div><div class="footer-link"><div class="tit fc"><span>最新消息</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="news_list.html">品牌快訊</a></li><li><a href="###">影音專區</a></li></ul></div><div class="footer-link"><div class="tit fc"><span>友站連結</span><div class="icon iconplus"></div></div><ul class="link"><li><a href="###">金車線上購</a></li><li><a href="###">伯朗咖啡館</a></li><li><a href="###">金車集團</a></li></ul></div><div class="footer-link"><div class="tit"><a href="contact.html">聯絡我們</a><div class="icon icongo"></div></div><ul class="link"><li><span>TEL  0800-231-136</span></li><li><span>FAX  (02)2368-8128</span></li><li><span>M-F  9:00am - 17:30pm</span></li></ul></div><div class="mb-footer-info"><span>TEL  0800-231-136</span><span>FAX  (02)2368-8128</span><span>M-F  9:00am - 17:30pm   </span></div></div><div class="footer-social-area"><div class="gotop" id="goTopBtn"><i class="fal fa-angle-up"></i><div class="txt">GO TOP</div></div><div class="mb-footer-social-box"><div class="social"><a href="###" target="_blank"><img src="img/icon_fb.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_ig.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_yt.svg" alt=""/></a></div><a class="privacy" href="privacy.html" target="_blank">隱私權政策</a></div></div></div><div class="footer-social-box"><a class="privacy" href="privacy.html" target="_blank">隱私權政策</a><a href="###" target="_blank"><img src="img/icon_fb.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_ig.svg" alt=""/></a><a href="###" target="_blank"><img src="img/icon_yt.svg" alt=""/></a></div><div class="copyright">COPYRIGHT © KING CAR GROUP. 2022<br/> ALL RIGHTS RESERVED</div></footer></div></body></html><script>$(document).ready(function(){
	//=== 手機下拉單 ===
	$('#selectMbBox').on('click',function(){
		var $list=$('#selectMbList');
		var isAct=$list.is(':visible');
		isAct ? $list.removeClass('on') : $list.addClass('on');
		//- isAct ? $list.slideUp() : $list.slideDown();
	});

	//=== 商品進場 ===
	AOS.init({
		easing: 'ease-in-out',
		duration: 1000,
		once: true,
		anchorPlacement: 'center-bottom',
	});

	//=== 其他 ===
	//- var swiperItem = new Swiper('#swiperItem', {
	//- 	spaceBetween: 30,
	//- 	slidesPerView: 3,
	//- 	centeredSlides: false,
	//- 	navigation: {
	//- 		nextEl: "#itemNext",
	//- 		prevEl: "#itemPrev",
	//- 	},
	//- 	breakpoints: {
	//- 		767: {
	//- 			slidesPerView: 1.3,
	//- 			centeredSlides: true,
	//- 		},
	//- 		480:{
	//- 			slidesPerView: 1.3,
	//- 			centeredSlides: true,
	//- 			spaceBetween: 15,
	//- 		}
	//- 	},
	//- 	//- autoHeight: true,//讓外層高隨不同slide內容改變高度 不會有多餘的空白
	//- });
});</script>
